.c-tabbed-nav {
    border-top: 2px $white solid;

    @include respond-to(desktop) {
        margin-top: auto;
    }

    &_mobile-trigger {
        position: relative;
        border: 4px solid transparent;
        padding: 14px $nhsuk-spacing-point-3;

        &:active {
            top: auto;
        }

        @include respond-to(desktop) {
            display: none;
        }

        &--right {
            right: $nhsuk-spacing-point-3;
        }
    }

    &_trigger-icon {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &_list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &_item {
        display: block;

        @include respond-to(desktop) {
            margin-bottom: 0;
            margin-right: 30px;
            display: inline-block;
        }
    }

    &_item-icon {
        width: 18px;
        height: 19px;
        display: inline-block;
        margin-right: 5px;
    }

    &_link {
        color: inherit;
        text-decoration: none;
        display: block;
        margin-bottom: $nhsuk-spacing-point-1;
        padding: 14px $nhsuk-spacing-point-3;
        box-shadow: 0 5px transparent;

        &:visited,
        &:hover {
            color: inherit;
        }

        &:focus {
            color: $nhsuk-focus-text-color;
            outline: $nhsuk-focus-width solid transparent;
            outline-offset: $nhsuk-focus-width;
            text-decoration: none;
        }
    
        &:active {
            color: $nhsuk-link-active-color;
        }

        &--active {
            @include respond-to(desktop) {
                box-shadow: 0 5px;
            }
        }

    }
}
