.c-skip-links {

    &_item {
        margin: 0;
    }

    &_link {
        @extend %nhsuk-link-style-default;
        // @include visually-hidden;
        // @include focus-outline(false);
        // @include hover-primary;
        // @include active-primary;
        // display: block;
        // padding: $base-dimension-unit;
        // color: $t-text-one;

        // &:focus {
        //     position: relative !important; // sass-lint:disable-line no-important
        //     top: 0;
        //     left: 0;
        //     margin: $focus-outline-width;
        // }
        left: -9999px;
        padding: $nhsuk-spacing-point-2;
        position: absolute;

        &:active,
        &:focus {
            left: $nhsuk-spacing-point-3;
            top: $nhsuk-spacing-point-3;
            z-index: 2;
        }

        &:visited {
            color: $color_nhsuk-black;
        }
    }
}