.c-action-dropdown {
    display: inline-block;
    position: relative;
    min-width: 200px;
    text-align: left;
    z-index: 1; // allows interaction on mobile.

    &_trigger {
        @include standard-text(false);
        position: relative;
        z-index: 5;
        padding: 12px 16px;
        padding-right: 30px;
        background-color: transparent;
        border: solid $base-dimension-unit-half $color_nhsuk-white;
        border-radius: $nhsuk-border-radius;
        color: $color_nhsuk-white;

        &-icon {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }

    &_list {
        @include small-text(false);
        list-style-type: none;
        margin: 0;
        margin-top: -1px;
        min-width: 100%;
        padding: 12px 0;
        position: absolute;
        background-color: $white;
        border-bottom-left-radius: $nhsuk-border-radius;
        border-bottom-right-radius: $nhsuk-border-radius;
    }

    &_item {
        margin: 0;
    }

    &_link {
        display: block;
        padding: 12px 16px;
        color: $nhsuk-text-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}