.l-container {
    @include clearfix;
    display: block;
    margin: 0 $mobile-gutter;
    width: auto;
    max-width: $content-max-width;

    &--wide {
        max-width: $layout-max-width;
    }

    &--full-width {
        max-width: none;
        overflow-x: hidden;
    }

    &--plain {
        margin: 0;
    }

    &--large-desktop-only {
        @include respond-to(desktop) {
            margin: 0;
        }
    }

    @include respond-to(desktop-large) {
        width: 100%;
        margin: 0 auto;
    }

}

.l-row {
    @include row;
}

@for $i from 0 through 12 {

    .l-col-#{$i} {
        @include column($i);
    }

    .l-col-fb-#{$i} {
        @include column($i, true);
    }

}

@for $i from 0 through 12 {

    .l-col-#{$i}-lm {
        @include respond-to(mobile-large) {
            @include column($i);
        }
    }

    .l-col-fb-#{$i}-lm {
        @include respond-to(mobile-large) {
            @include column($i, true);
        }
    }
}

@for $i from 0 through 12 {

    .l-col-#{$i}-t {
        @include respond-to(tablet) {
            @include column($i);
        }
    }

    .l-col-fb-#{$i}-t {
        @include respond-to(tablet) {
            @include column($i, true);
        }
    }

}

@for $i from 0 through 12 {

    .l-col-#{$i}-d {
        @include respond-to(desktop) {
            @include column($i);
        }
    }

    .l-col-fb-#{$i}-d {
        @include respond-to(desktop) {
            @include column($i, true);
        }
    }
}

@for $i from 0 through 12 {

    .l-col-#{$i}-ld {
        @include respond-to(desktop-large) {
            @include column($i);
        }
    }

    .l-col-fb-#{$i}-ld {
        @include respond-to(desktop-large) {
            @include column($i, true);
        }
    }
}

.l-block {
    @include clearfix;
    margin: 0;
    width: 100%;
}