$card-border-width: 1px;
$card-border-highlight-width: $nhsuk-spacing-point-1;
$card-border-color: $color_nhsuk-grey-4;
$card-border-hover-color: $color_nhsuk-grey-3;
$card-hero-padding: 10px;

.c-comment {
    $self: &;
    padding: $nhsuk-spacing-point-4;
    background: $color_nhsuk-white;
    border: $card-border-width solid $card-border-color;
    border-left-width: $card-border-highlight-width;
    position: relative;
    width: 100%;

    &--reply {
        border: none;
        border-left: $card-border-highlight-width solid $card-border-color;
    }

    &_replies-toggle {
        @extend %link-base;
        @include small-text;
        display: inline-block;
    }

}
