@using MvcForum.Core.Constants
@using MvcForum.Web.ViewModels
@using MvcForum.Web.ViewModels.Admin
@{
    var genericMessage = new GenericMessageViewModel();
    if (TempData[Constants.MessageViewBagName] != null)
    {
        genericMessage = (GenericMessageViewModel)TempData[Constants.MessageViewBagName];
    }
    else if (ViewBag.Message != null)
    {
        genericMessage = (GenericMessageViewModel)ViewBag.Message;
    }
}

<div id="js-toast" data-timeout="2000" data-message="@Html.Raw(genericMessage.Message)" style="display:none;"></div>