.c-site-header {
    position: relative;
    width: 100%;
    background-color: $color_nhsuk-blue;
    z-index: 999;

    @include respond-to(desktop) {
        height: auto;
    }

    &_content {
        display: flex;
        padding: $nhsuk-spacing-point-3 0;
        height: $site-header-mobile-height;

        @include respond-to(desktop) {
            min-height: 94px;
            height: auto;
            display: flex;
            align-items: center;
        }
    }

    &_logo {
        display: flex;
        float: left;
        max-width: 50%;
        box-sizing: content-box;

        @include respond-to(tablet) {
            max-width: calc(100% - 85px);
            height: $site-logo-mobile-height;
        }

    }

    &_nav {
        display: block;
        float: right;
        width: auto;

        @include respond-to(desktop) {
            flex-grow: 1;
        }
    }

}