@use "sass:map";

@tailwind utilities;

.u-mobile-only {
    @include respond-to(tablet) {
        display: none;
    }
}

.u-focus-item {
    @extend %nhsuk-focused-item;

    &:focus {
        background: none;
    }
}

.u-text-lead {
    @include lead-text;
}

.u-text-bold {
    font-weight: $nhsuk-font-bold;
}

.u-text-normal {
    font-weight: $nhsuk-font-normal;
}

.u-text-size-standard {
    @include standard-text;
}

.u-drop-shadow {
    box-shadow: 0 4px 0 0 $color_nhsuk-grey-3;
}

.u-max-height {
    height: 100%;
}

.u-min-w-fit {
    min-width: fit-content;
}

// TODO - work out why tailwind.config.js isn't correctly rendering fill theme classes
// so that this duplication can be removed
$t-utility-themes: (
    "0": $black,
    "1": $white,
    "2": $very-light-grey,
    "3": $light-grey,
    "4": $light-mid-grey,
    "5": $mid-grey,
    "6": $dark-mid-grey,
    "7": $dark-grey,
    "8": $blue,
    "9": $green,
    "10": $purple,
    "11": $aqua,
    "12": $dark-red,
    "13": $red,
    "14": $dark-blue,
);

@each $number, $theme in $t-utility-themes {

    .u-fill-theme-#{$number} {
        fill: $theme;
    }

}
