registry=http://nexus.cds.internal/repository/npm/
//cdsdigital.pkgs.visualstudio.com/_packaging/bbb-feed/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJmZmZlM2RkNy03YzcyLTQ0MTQtODkyMi02YWYwMWY3MTg1MGIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMjBiYjYxMTgtZDkzOS00ZDQ4LTljZmEtZTUzMTY3YWRhZjVjIiwic2lkIjoiYmJmN2JlYTAtOTQ0Yy00MDNhLTgwOGMtZDBlZjlkZWYxMTNjIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmQwYjhiYWY3LWViNTYtNDQ0MC1iZjU3LWYxZGEyMTU3Mjk0NSIsIm5iZiI6MTU5ODUxNTM5MiwiZXhwIjoxNjA2MjkxOTYxfQ.EeBK19uWbwLNW5wGepYvj4g0Iv8gQLMbhG7rP3t1CNYCDGBkwINbWazqlpeUPRy5IzVwhegK2BJxZMk762o_NfsQXTqfEvUah1VqDHZjnt9E0ylv54n6E0_Zo0-o305jHuN_pggrQv3IXqfkCS2mUQ7VxesdniwO4AZrRR1mxMlsnTdgIIyj47fjRLTa629UDbEAucb5sGddcSJlKfLqc9SnYxspKJV1tf9Tv98THgOujtxKoaywSa9zIsNSdsFKMtnaqc3AteH1v_Cg_ODFsfH0EommoUXkmesPXcXyQ8jnQZHaNwdl3mxk8ge8CvJzIY7kMj7rlZZmovoenwMA3w
//ywpartners.pkgs.visualstudio.com/_packaging/cdsnpmfeed/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJiOWQ5YWZhYy0wNjU0LTQ3NDQtYjU0Ni04M2M1OTk0YTM2NTEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMzUzODM3MWMtNTM3YS00MzI1LTlhMTEtZmEwYjg2N2VmZTVlIiwic2lkIjoiZjJlZjFlMjMtYzBlNS00MjMwLWFjZjMtMGY3YzE3ZTA5ZjQyIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmIxZWQ3NjVlLTY3OWUtNDdjNi1iMWQ4LTY3ZDJmNDk4ZTQ1MCIsIm5iZiI6MTYwNTEwNDU1MywiZXhwIjoxNjEyODgxMTE4fQ.VTp6TozmpX9Xlifa2Y0fnh4OkZHk8KSPIuAvFNJsjlf_3BrNrr7g8twAYLX6-l8WeMwaiM1PpHaaumptQtJIV3-W0Ai9I4lRvtpxBGLX_EXZaacqtE82FTrq-f6JGl7EE2smnorcOGMbwxR-PPqXYASYVchhS_PlZSaFcTYm4P_NRx3OUFZmtfm_E7m2EpP5fS89LsMmfPgIxz69a2oCeyWWLu4BAbSOKPhP37XFgFjnSJYyNuuIpHSgTtuK9fgb0TJ6ZL0heL9PYR916EQ7Pso7LdvKlopL7ThuXsCu69R6L3FPRzIgGAV6lBTnGhH4CoAbSUVEaeDTvVF0Ks9DUQ

