.c-spinner {
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;

    &_item {
        display: block;
        position: absolute;
        top: 40%;
        left: 40%;
        width: 20%;
        height: 20%;

        &:nth-child(1) {
            transform: rotate(90deg) translate(-200%) rotate(135deg);
            fill: $grass;
            opacity: 33%;
        }

        &:nth-child(2) {
            transform: rotate(135deg) translate(-200%) rotate(135deg);
            fill: $grass;
            opacity: 66%;
        }

        &:nth-child(3) {
            transform: rotate(180deg) translate(-200%) rotate(135deg);
            fill: $grass;
        }

        &:nth-child(4) {
            transform: rotate(225deg) translate(-200%) rotate(135deg);
            fill: $blue;
        }
    }
}