@use "sass:map";

.u-no-decoration {
    &:active,
    &:focus,
    &:hover {
        outline: none;
        text-decoration: none;
    }
}

.u-visually-hidden {
    position: absolute !important; // sass-lint:disable-line no-important
    left: -99999px;
    top: -99999px;
}

.u-hidden {
    display: none !important; // sass-lint:disable-line no-important
}

.u-js-hidden {
    display: none !important; // sass-lint:disable-line no-important
}

.u-no-js-hidden {
    display: block;
}

.u-fright {
    float: right;
}

.u-fleft {
    float: left;
}

.u-clear-left {
    clear: left;
}

.u-clear-right {
    clear: right;
}

.u-clear-both {
    clear: both;
}

.u-list-plain {
    padding: 0;
    list-style-type: none;
}

.u-clearfix {
    @include clearfix;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-relative {
    position: relative;
}

.u-overflow-x {
    overflow-x: auto;
}

.u-overflow-y {
    overflow-y: auto;
}

.u-mobile-only {
    @include respond-to(tablet) {
        display: none;
    }
}

.u-desktop-hidden {
    @include respond-to(desktop) {
        display: none;
    }
}

// .u-tablet-up {
//     display: none;

//     @include respond-to(tablet) {
//         display: block;
//     }
// }

// .u-tablet-up-inline-block {
//     display: none;

//     @include respond-to(tablet) {
//         display: inline-block;
//     }
// }

// .u-desktop-up {
//     display: none;

//     @include respond-to(desktop) {
//         display: block;
//     }
// }

// .u-desktop-up-inline-block {
//     display: none;

//     @include respond-to(desktop) {
//         display: inline-block;
//     }
// }

//fonts
.u-text-lead {
    @include lead-text;
}

.u-text-small {
    @include small-text;
}

.u-text-bold {
    font-weight: $nhsuk-font-bold;
}

.u-text-unbold {
    font-weight: $nhsuk-font-normal;
}


.u-width-auto {
    width: auto;
}

.u-width-zero {
    width: 0;
}

.u-icon-left {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 #{$base-dimension-unit/2} 0 0;
    vertical-align: middle;
}

.u-icon-right {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 0 0 #{$base-dimension-unit/2};
    vertical-align: middle;
}

.u-max-height {
    height: 100%;
}

@each $number, $theme in $t-utility-themes {

    .u-bg-theme-#{$number} {
        background-color: $theme;
    }

    .u-fill-theme-#{$number} {
        fill: $theme;
    }

    .u-text-theme-#{$number} {
        color: $theme !important;//sass-lint:disable-line no-important
    }

    .u-border-theme-#{$number} {
        border-color: $theme;
    }

}