@use "sass:map";

.u-no-decoration {
    &:active,
    &:focus,
    &:hover {
        outline: none;
        text-decoration: none;
    }
}

.u-visually-hidden {
    position: absolute !important; // sass-lint:disable-line no-important
    left: -99999px;
    top: -99999px;
}

.u-hidden {
    display: none !important; // sass-lint:disable-line no-important
}

.u-js-hidden {
    display: none !important; // sass-lint:disable-line no-important
}

.u-no-js-hidden {
    display: block;
}

.u-fright {
    float: right;
}

.u-fleft {
    float: left;
}

.u-clear-left {
    clear: left;
}

.u-clear-right {
    clear: right;
}

.u-clear-both {
    clear: both;
}

.u-plain {
    margin: 0;
    list-style-type: none;
}

.u-clearfix {
    @include clearfix;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-tal {
    text-align: left;
}

.u-tac {
    text-align: center;
}

.u-tar {
    text-align: right;
}

.u-relative {
    position: relative;
}

.u-text-standard {
    font-size: $base-font-size !important; // sass-lint:disable-line no-important
}

.u-text-large {
    font-size: $large-text !important; // sass-lint:disable-line no-important
}

.u-text-very-large {
    font-size: $very-large-text;
}

.u-bold {
    @include font-family-poppins-bold;
}

.u-unbold {
    @include font-family-poppins-regular;
}

.u-overflow-x {
    overflow-x: auto;
}

.u-overflow-y {
    overflow-y: auto;
}

.u-scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.u-scroll-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.u-mobile-only {
    @include respond-to(tablet) {
        display: none;
    }
}

.u-desktop-hidden {
    @include respond-to(desktop) {
        display: none;
    }
}

.u-tablet-up {
    display: none;

    @include respond-to(tablet) {
        display: block;
    }
}

.u-tablet-up-inline-block {
    display: none;

    @include respond-to(tablet) {
        display: inline-block;
    }
}

.u-desktop-up {
    display: none;

    @include respond-to(desktop) {
        display: block;
    }
}

.u-desktop-up-inline-block {
    display: none;

    @include respond-to(desktop) {
        display: inline-block;
    }
}

.u-no-outline {
    outline: none;
}

.u-width-auto {
    width: auto;
}

.u-width-zero {
    width: 0;
}

.u-padding-base {
    padding: $base-dimension-unit;
}

.u-padding-xsm {
    padding: $spacer-xsm;
}

.u-padding-sm {
    padding: $spacer-sm;
}

.u-padding-rg {
    padding: $spacer-rg;
}

.u-padding-lg {
    padding: $spacer-lg;
}

.u-padding-xl {
    padding: $spacer-xl;
}

.u-no-padding {
    padding: 0;
}

.u-no-padding-top {
    padding-top: 0;
}

.u-no-padding-right {
    padding-right: 0;
}

.u-no-padding-bottom {
    padding-bottom: 0;
}

.u-no-padding-left {
    padding-left: 0;
}

.u-margin-base {
    margin: $base-dimension-unit;
}

.u-margin-sm {
    margin: $spacer-sm;
}

.u-margin-rg {
    margin: $spacer-rg;
}

.u-margin-lg {
    margin: $spacer-lg;
}

.u-margin-xl {
    margin: $spacer-xl;
}

.u-no-margin-top {
    margin-top: 0;
}

.u-no-margin-right {
    margin-right: 0;
}

.u-no-margin-bottom {
    margin-bottom: 0;
}

.u-no-margin-left {
    margin-left: 0;
}

.u-heading-sm {
    @include small-heading;
}

.u-heading-md {
    @include medium-heading;
}

.u-icon-left {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 #{$base-dimension-unit/2} 0 0;
    vertical-align: middle;
}

.u-icon-right {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 0 0 #{$base-dimension-unit/2};
    vertical-align: middle;
}

.u-no-shadow {
    box-shadow: none;
}

.u-pointer-events-none {
    pointer-events: none;
}

.u-pointer-events-all {
    pointer-events: all;
}

.u-semi-transparent {
    opacity: .5;
}

.u-anim--fade-in {
    opacity: 0;
    animation: fadeIn .4s ease-in-out 0ms forwards;
}

.u-anim--spin {
    animation: spin .8s linear 0ms infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

.u-display-block {
    display: block;
}

.u-display-inline {
    display: block;
}

.u-max-height {
    height: 100%;
}

@each $number, $theme in $t-utility-themes {

    .u-bg-theme-#{$number} {
        background-color: $theme;
    }

    .u-fill-theme-#{$number} {
        fill: $theme;
    }

    .u-border-theme-#{$number} {
        border-color: $theme;
    }

}