@model MvcForum.Core.Models.Collabora.FileServerResponse

<div class="c-grid-block">
	<div class="c-grid-block_item l-col-12">
		<h2>File preview</h2>
		<div class="u-padding-top-spacing-2 u-padding-bottom-spacing-2 u-margin-bottom-spacing-5 u-bg-theme-1">
			<form name="collaboraFrame">
				<input id="collabora_url" name="access_token" value="@Model.WopiClientUrlForFile" type="hidden">
				<input id="collabora_token" name="access_token" value="@Model.AccessToken" type="hidden">
			</form>

			<iframe id="output-frame-id" src="" name="collabora_host_frame" allowfullscreen="" width="100%"
				height="1250px">
			</iframe>

		</div>
	</div>
</div>

<script type="text/javascript">
	var xhr = new XMLHttpRequest();
	var token = document.getElementById('collabora_token').value;
	var collabora_source = document.getElementById('collabora_url').value;

	xhr.open('POST', collabora_source);
	xhr.onreadystatechange = handler;
	xhr.responseType = 'document';
	xhr.setRequestHeader('Authorization', 'Bearer ' + token);
	xhr.send();

	function handler() {
		var iframe = document.getElementById("output-frame-id");
		if (this.readyState === this.DONE) {
			if (this.status === 200) {
				var content = iframe.contentWindow
					iframe.contentDocument.document
					iframe.contentDocument;
				content.document.open();
				content.document.write(this.response.documentElement.innerHTML);
				content.document.close();
			} else {
				iframe.setAttribute('srcdoc', '<html><head></head><body>Error loading page.</body></html>');
			}
		}
	}
	$(document).ready(function () {
		handler();
	});
</script>
