@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Lang("PostedIn.PageTitle");
}

@section side
{
    @Html.Partial("_CommonSideNav")
}

<div class="postedin">

    <h2>@ViewBag.Title</h2>

    @Html.Action("TopicsMemberHasPostedIn", "Topic")

</div>