.c-textarea, 
.c-form-group .tox-tinymce {
    @include standard-text;
    -webkit-appearance: none;
    border: $nhsuk-border-width-form-element solid $nhsuk-form-border-color;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    min-height: 40px;
    padding: $nhsuk-spacing-point-1;
    resize: vertical;
    width: 100%;
    min-height: 200px;

    &:focus {
        @include nhsuk-focused-input;
    }
}

.c-textarea--error {
    border: $nhsuk-border-width-form-element-error solid $nhsuk-error-color;
}