.c-input {
    &-group {
        padding-bottom: 20px;
    }

    &-control {
        @include small-heading;
        font-weight: $nhsuk-font-bold;
        width: 100%;
        display: inline-block;
        background-color: $white;
        padding: 7px 0 5px 21px;
        border-left: 4px solid $blue;
        color: $black;
    }

    &-label {
        @include standard-text;
        @include respond-to(desktop) {
            margin-bottom: 5px;
        }
    }
}
