<?xml version="1.0" encoding="utf-8"?>
<Content Key="82e5de40-1c93-4a5d-bc79-03fe14117dcd" Alias="Automation Public Group" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/AutomationPublicGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-20T14:01:10</CreateDate>
    <NodeName Default="Automation Public Group" />
    <SortOrder>47</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>