<?xml version="1.0" encoding="utf-8"?>
<Content Key="51d10e22-d20a-4ae9-9d75-6d10d9a60d79" Alias="Automation Editable Group" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/AutomationEditableGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-20T14:01:54</CreateDate>
    <NodeName Default="Automation Editable Group" />
    <SortOrder>49</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>