<?xml version="1.0" encoding="utf-8"?>
<Content Key="16eadf8e-aa5a-4b34-bc8a-65bff0ea357d" Alias="Blocks Misc" Level="3">
  <Info>
    <Parent Key="19cc43a0-809e-4487-a236-7f51fad48212">Placeholder Blocks Container</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/BlocksMisc</Path>
    <Trashed>false</Trashed>
    <ContentType>blocksMisc</ContentType>
    <CreateDate>2022-05-26T11:38:23</CreateDate>
    <NodeName Default="Blocks Misc" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>