<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccbc5a1a-8b38-4873-8211-c010c93fd89c" Alias="block:1ffeeb7b-afe6-4e83-aea5-25dab93dda45 (42)" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/block1ffeeb7bAfe64e83Aea525dab93dda4542</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-23T14:40:29</CreateDate>
    <NodeName Default="block:1ffeeb7b-afe6-4e83-aea5-25dab93dda45 (42)" />
    <SortOrder>89</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/7a746700937548c2908a04d4df272786,umb://document/a50ebf0bd34c407288608c06cdcdc44c]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>