<?xml version="1.0" encoding="utf-8"?>
<Content Key="f683378a-7c6f-40c1-a261-edff88707c72" Alias="block:1ffeeb7b-afe6-4e83-aea5-25dab93dda45 (4) (1) (1)" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/block1ffeeb7bAfe64e83Aea525dab93dda454</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-23T15:05:23</CreateDate>
    <NodeName Default="block:1ffeeb7b-afe6-4e83-aea5-25dab93dda45 (4) (1) (1)" />
    <SortOrder>98</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/d75abd4bbc73482aa5141729b738e024]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>