<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fb7c306-baa1-4ae3-a7b4-0c06c2eb3fd4" Alias="Blocks" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Blocks</Path>
    <Trashed Parent="ca4249ed-2b23-4337-b522-63cabe5587d1">true</Trashed>
    <ContentType>placeholderBlocksFolder</ContentType>
    <CreateDate>2022-01-18T17:57:43</CreateDate>
    <NodeName Default="Blocks" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>