<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a746700-9375-48c2-908a-04d4df272786" Alias="block:1ffeeb7b-afe6-4e83-aea5-25dab93dda45 (43)" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/block1ffeeb7bAfe64e83Aea525dab93dda4543</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-23T14:40:42</CreateDate>
    <NodeName Default="block:1ffeeb7b-afe6-4e83-aea5-25dab93dda45 (43)" />
    <SortOrder>90</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>