<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fb7c306-baa1-4ae3-a7b4-0c06c2eb3fd4" Alias="Blocks" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Blocks</Path>
    <Trashed>false</Trashed>
    <ContentType>blocksFolder</ContentType>
    <CreateDate>2022-01-18T17:57:43</CreateDate>
    <NodeName Default="Blocks" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>