<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cc6d39b-cf76-4218-9a07-eed344c7a021" Alias="block:1ffeeb7b-afe6-4e83-aea5-25dab93dda45 (41)" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/block1ffeeb7bAfe64e83Aea525dab93dda4541</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-23T14:39:47</CreateDate>
    <NodeName Default="block:1ffeeb7b-afe6-4e83-aea5-25dab93dda45 (41)" />
    <SortOrder>88</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>