<?xml version="1.0" encoding="utf-8"?>
<Content Key="43173177-7f0e-4d22-91d4-9f07e1833888" Alias="block:1ffeeb7b-afe6-4e83-aea5-25dab93dda45 (1) (1) (1) (1)" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/block1ffeeb7bAfe64e83Aea525dab93dda451</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-23T14:50:08</CreateDate>
    <NodeName Default="block:1ffeeb7b-afe6-4e83-aea5-25dab93dda45 (1) (1) (1) (1)" />
    <SortOrder>92</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/6254c0422ee3402298036269f2b9e235,umb://document/612817c49e1f4a53a10d60da21848ce6]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>