<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bac3503-6ca0-4096-aa61-de3f6ad6d596" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="f39a89ea-21c4-499a-a256-040c628f1ffe">Key Links</Parent>
    <Path>/CMS/Groups/AutomationVisualRegressionGroup/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:28:48</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>