<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7b737d8-4e5e-4c66-a04b-54fedf03de98" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="395fbc33-06bb-489c-9d8e-d69a8741fa79">Key Links</Parent>
    <Path>/CMS/Groups/groupaada5a39b2c446578a69087a100136f2/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:05:46</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>