<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4349658-74de-4300-86d6-87cf52571e71" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="e94e7b70-662b-444d-958d-05e292eac729">Key Links</Parent>
    <Path>/CMS/Groups/group1f165046f9ea4461a14fbc8df121ca6e/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:33:01</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>