<?xml version="1.0" encoding="utf-8"?>
<Content Key="59e76ed5-44c5-4b30-bc83-161dea8705f6" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="4ed71fdd-28a7-4993-be20-87becd2e033d">Key Links</Parent>
    <Path>/CMS/Groups/groupbc200dc3bd1843d8805c04b25bca18a3/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:08:17</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>