<?xml version="1.0" encoding="utf-8"?>
<Content Key="df809605-aeda-4434-9c1c-fecdc8997c4d" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="d70221be-dbf5-458b-bb6f-edb62ac78deb">Key Links</Parent>
    <Path>/CMS/Groups/AutomationPublicGroup/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:28:26</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>