<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d2c5cb2-7358-4a43-8302-09aef5aa9ad5" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="739adaf0-d5f6-447b-a93a-8defb5070674">Key Links</Parent>
    <Path>/CMS/Groups/AutomationPrivateGroup/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:28:11</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>