<?xml version="1.0" encoding="utf-8"?>
<Content Key="f950951a-deaa-46b4-9355-86de6e393084" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="1f96692b-0f17-4ed9-8c70-1d84afa9dd67">Key Links</Parent>
    <Path>/CMS/Templates/HomepageTemplate/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-15T01:39:41</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>