<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b0786ef-1531-4fe7-a2e6-c4152868be32" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="806803b6-edaa-4399-90fd-90286a4d4e3c">Key Links</Parent>
    <Path>/CMS/Groups/groupb1e1a24656a2483eb64b83cb2a9e0fe4/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:07:44</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>