<?xml version="1.0" encoding="utf-8"?>
<Content Key="cabff2e9-6ab1-4558-8dd7-6da647cbbd77" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="9eb331fa-1687-41d5-bbb3-be9378dac40e">Key Links</Parent>
    <Path>/CMS/Groups/group2d841d489753463faff2ad3a0093f48b/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:01:05</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>