<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c0674a4-3fdc-41a3-b528-0a0f63da2f69" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="51ade068-01c3-498f-833e-28e2533c91ad">Key Links</Parent>
    <Path>/CMS/Groups/group0c964ce6b2e4475eb0a708dc109c1468/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:08:56</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>