<?xml version="1.0" encoding="utf-8"?>
<Content Key="747f5d6f-ba52-4809-b765-60b2bbb8c49f" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="f13f6846-608a-4bbe-83af-70c138e57959">Key Links</Parent>
    <Path>/CMS/Groups/group1d39ae7c6348413aa7a9f895ff7dacfd/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:06:12</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>