<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f5ee6f1-6c35-4497-8bf3-de2be61ef374" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="3c8e54d2-97b5-4d0a-b5ee-f56fc502ef6f">Key Links</Parent>
    <Path>/CMS/Groups/group7a016eba0d3c4452a0aa07b02beb57fb/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:05:33</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>