<?xml version="1.0" encoding="utf-8"?>
<Content Key="77450b35-d33e-467e-b483-b82761f5adb9" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="f55c7087-189a-4a53-95cc-e855fcacddfa">Key Links</Parent>
    <Path>/CMS/Groups/group545217e2b5fe4b46ba6Fbcac2192fbf/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:08:38</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>