<?xml version="1.0" encoding="utf-8"?>
<Content Key="1048a015-d02a-4915-847b-15d194a109b1" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="966f6f5e-c76b-49fe-bd18-30ba2a649803">Key Links</Parent>
    <Path>/CMS/Groups/group3e4a64dc664a4388bc52ad950106fb30/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:04:21</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>