<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8730348-d30f-4ab0-a21a-cd17107410a9" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="f039cbce-e35a-496f-88cc-5c36b8851d58">Key Links</Parent>
    <Path>/CMS/Groups/AutomationEditableGroup/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:29:10</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>