<?xml version="1.0" encoding="utf-8"?>
<Content Key="64eb96c8-7776-4345-97a9-3f66a8531ef5" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="8c49241a-7c6f-4233-a6cd-173c7f478555">Key Links</Parent>
    <Path>/CMS/Groups/AutomationGroupToBeRestricted/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:29:19</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>