<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca1850d4-ea98-4055-97f2-d5a13df39ae4" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="d9f8bc82-6ae5-43c6-943a-ded085f65b30">Key Links</Parent>
    <Path>/CMS/Groups/AutoPendingGroup/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:27:55</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>