<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef4ccfda-118d-4050-b5ce-04487c271018" Alias="group:e76b91ae-b406-4b74-827a-905f949d52a2" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupe76b91aeB4064b74827a905f949d52a2</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2022-06-20T12:19:16</CreateDate>
    <NodeName Default="group:e76b91ae-b406-4b74-827a-905f949d52a2" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
  </Properties>
</Content>