<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6c75450-939c-486d-b1ae-a75ecd2dec12" Alias="group:1ce4a1d4-0366-4c77-9280-704fab9fe429 (1)" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group1ce4a1d403664c779280704fab9fe4291</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-30T22:57:58</CreateDate>
    <NodeName Default="group:1ce4a1d4-0366-4c77-9280-704fab9fe429 (1)" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>