<?xml version="1.0" encoding="utf-8"?>
<Content Key="32e2a36d-dadf-41b6-83f4-7629478fbcef" Alias="group:0942d28b-39b4-429a-a1f5-ca8c6cf7a6c9" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group0942d28b39b4429aA1f5Ca8c6cf7a6c9</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2022-05-30T23:04:07</CreateDate>
    <NodeName Default="group:0942d28b-39b4-429a-a1f5-ca8c6cf7a6c9" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/5eb5d658e4b245a5a53c1fc58c0149e4,umb://document/d9b977cd28b34a0185ed5d6ef4dcf4d6,umb://document/272e96f586a54d278077e89b6e2034a6]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
  </Properties>
</Content>