<?xml version="1.0" encoding="utf-8"?>
<Content Key="1563173d-37b7-40a0-9d97-c51761715bd0" Alias="group:1ce4a1d4-0366-4c77-9280-704fab9fe429" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group1ce4a1d403664c779280704fab9fe429</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2022-05-30T22:57:49</CreateDate>
    <NodeName Default="group:1ce4a1d4-0366-4c77-9280-704fab9fe429" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/5eb5d658e4b245a5a53c1fc58c0149e4,umb://document/e3a728952f3946bf89235eb7c81e33d7]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
  </Properties>
</Content>