<?xml version="1.0" encoding="utf-8"?>
<Content Key="300afd39-dae4-4690-a68b-6bbbef067200" Alias="group:1d39ae7c6348413aa7a9f895ff7dacfd" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group1d39ae7c6348413aa7a9f895ff7dacfd</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:25:25</CreateDate>
    <NodeName Default="group:1d39ae7c6348413aa7a9f895ff7dacfd" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>