<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d6d9da6-3cca-4678-95fb-0f1119b950bb" Alias="group:0c964ce6b2e4475eb0a708dc109c1468" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group0c964ce6b2e4475eb0a708dc109c1468</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:22:16</CreateDate>
    <NodeName Default="group:0c964ce6b2e4475eb0a708dc109c1468" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>