<?xml version="1.0" encoding="utf-8"?>
<Content Key="241f6080-dc90-428c-aa86-8a27c7c911ae" Alias="group:7a016eba0d3c4452a0aa07b02beb57fb" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group7a016eba0d3c4452a0aa07b02beb57fb</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:26:34</CreateDate>
    <NodeName Default="group:7a016eba0d3c4452a0aa07b02beb57fb" />
    <SortOrder>42</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>