<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea48d2a8-cdaf-49b1-b4bf-a6704c4819ba" Alias="group:b1e1a24656a2483eb64b83cb2a9e0fe4" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupb1e1a24656a2483eb64b83cb2a9e0fe4</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:24:37</CreateDate>
    <NodeName Default="group:b1e1a24656a2483eb64b83cb2a9e0fe4" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>