<?xml version="1.0" encoding="utf-8"?>
<Content Key="b222860d-533b-428d-aa6c-0546874f5ca3" Alias="group:c067a5a54ad549909140fadc04b82deb" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupc067a5a54ad549909140fadc04b82deb</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:16:48</CreateDate>
    <NodeName Default="group:c067a5a54ad549909140fadc04b82deb" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>