<?xml version="1.0" encoding="utf-8"?>
<Content Key="1baa5edc-259c-49d4-bd2a-7fb88afea245" Alias="group:32c2357e-877d-4875-b576-0c5961ba3842" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group32c2357e877d4875B5760c5961ba3842</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2022-05-31T00:31:06</CreateDate>
    <NodeName Default="group:32c2357e-877d-4875-b576-0c5961ba3842" />
    <SortOrder>44</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/5eb5d658e4b245a5a53c1fc58c0149e4,umb://document/c99fd676d81f4070beac0fad12b03fa1]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
  </Properties>
</Content>