<?xml version="1.0" encoding="utf-8"?>
<Content Key="520a7e1d-1d1f-4eba-844e-8570c54d35e1" Alias="group:de3bb069-5ae9-420c-8635-313b0af3e056" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupde3bb0695ae9420c8635313b0af3e056</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2022-05-31T00:28:13</CreateDate>
    <NodeName Default="group:de3bb069-5ae9-420c-8635-313b0af3e056" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/5eb5d658e4b245a5a53c1fc58c0149e4,umb://document/3ab908d802c9405f94c1a039abf79938]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
  </Properties>
</Content>