<?xml version="1.0" encoding="utf-8"?>
<Content Key="74e4dc83-32e7-4f42-bba6-ef04b13ff4c2" Alias="group:b8c36360ecbe4adea3c2adfd00f01faf" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupb8c36360ecbe4adea3c2adfd00f01faf</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:16:23</CreateDate>
    <NodeName Default="group:b8c36360ecbe4adea3c2adfd00f01faf" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>