<?xml version="1.0" encoding="utf-8"?>
<Content Key="78fbcab5-8254-4519-a82e-3fb8922fd434" Alias="group:6d347a9026434e25bbce12d32e3e22b6" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group6d347a9026434e25bbce12d32e3e22b6</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:21:50</CreateDate>
    <NodeName Default="group:6d347a9026434e25bbce12d32e3e22b6" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>