<?xml version="1.0" encoding="utf-8"?>
<Content Key="b02eaec7-4de7-46e5-bfa5-a8632979cb5e" Alias="group:b7be793e0bf246e8aa16019f53bf0e62" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupb7be793e0bf246e8aa16019f53bf0e62</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:24:15</CreateDate>
    <NodeName Default="group:b7be793e0bf246e8aa16019f53bf0e62" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>