<?xml version="1.0" encoding="utf-8"?>
<Content Key="40e4d3dd-6968-43b9-ad3e-d1d3070a5e7b" Alias="group:412347267e934767afbeadda00f560a2" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group412347267e934767afbeadda00f560a2</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:15:45</CreateDate>
    <NodeName Default="group:412347267e934767afbeadda00f560a2" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>