<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa67119a-e630-4227-97d3-05ebfa52151e" Alias="group:0d1ea1e083f9491fb99aad4000df7f09" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group0d1ea1e083f9491fb99aad4000df7f09</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:13:29</CreateDate>
    <NodeName Default="group:0d1ea1e083f9491fb99aad4000df7f09" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>