<?xml version="1.0" encoding="utf-8"?>
<Content Key="45945ea4-ec8e-46bf-b4a1-119f7149258d" Alias="group:d641991d710d4209b0d83b62ee8d2c42" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupd641991d710d4209b0d83b62ee8d2c42</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:25:01</CreateDate>
    <NodeName Default="group:d641991d710d4209b0d83b62ee8d2c42" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>