<?xml version="1.0" encoding="utf-8"?>
<Content Key="71f9a6ee-3e9e-4333-875c-86298d85d061" Alias="group:27c65ecf0dbb42e9846e93bb073019d9" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group27c65ecf0dbb42e9846e93bb073019d9</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:18:40</CreateDate>
    <NodeName Default="group:27c65ecf0dbb42e9846e93bb073019d9" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>