<?xml version="1.0" encoding="utf-8"?>
<Content Key="91161cd8-5b22-461f-94af-14ed82042c7c" Alias="group:196ad6f7963e4a6689283525e3e7c848" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group196ad6f7963e4a6689283525e3e7c848</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:18:06</CreateDate>
    <NodeName Default="group:196ad6f7963e4a6689283525e3e7c848" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>