<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f44a85b-ae9a-4ee5-9341-8e14c90d51aa" Alias="group:8c657917b7c44aa6b4c4fbd167b61889" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group8c657917b7c44aa6b4c4fbd167b61889</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:25:45</CreateDate>
    <NodeName Default="group:8c657917b7c44aa6b4c4fbd167b61889" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>