<?xml version="1.0" encoding="utf-8"?>
<Content Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0" Alias="Groups" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Groups</Path>
    <Trashed>false</Trashed>
    <ContentType>groupsFolder</ContentType>
    <CreateDate>2022-01-20T11:31:21</CreateDate>
    <NodeName Default="Groups" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>