<?xml version="1.0" encoding="utf-8"?>
<Content Key="e17f3c70-78df-4fc8-beb5-e2f9fbca3f63" Alias="group:8c185563ded04230ab7f85bdb37e28d0" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group8c185563ded04230ab7f85bdb37e28d0</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T11:19:49</CreateDate>
    <NodeName Default="group:8c185563ded04230ab7f85bdb37e28d0" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>