<?xml version="1.0" encoding="utf-8"?>
<Content Key="da3c5147-3aef-4f82-8bdc-6b45afae2ba3" Alias="group:b622249e2e2f4b708ca5fc0e39969247" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupb622249e2e2f4b708ca5fc0e39969247</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-24T15:11:06</CreateDate>
    <NodeName Default="group:b622249e2e2f4b708ca5fc0e39969247" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[test]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>