<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccae06d0-66b3-4bd1-a9ff-db1091ae7282" Alias="group:1a2cceb0-cb3e-4f92-9de2-c31e77d148f2" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group1a2cceb0Cb3e4f929de2C31e77d148f2</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2022-05-30T23:14:19</CreateDate>
    <NodeName Default="group:1a2cceb0-cb3e-4f92-9de2-c31e77d148f2" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/5eb5d658e4b245a5a53c1fc58c0149e4,umb://document/b768d01c0b6c491c8bc980488f9a01c5,umb://document/c9842ae17a30459cb9d9e682f4a92ef3]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
  </Properties>
</Content>