<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9dd36f6-2cf7-4555-a4da-5ffcffb14869" Alias="Group 1" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/Home/Groups/Group1</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-02-11T11:28:08</CreateDate>
    <NodeName Default="Group 1" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[test test]]></Value>
    </description>
    <pageContent>
      <Value><![CDATA[[
  {
    "system": {
      "id": "0b955a4a-9e26-43e8-bb4b-51010e264d64",
      "name": "Homepage Template",
      "urlSegment": "homepage-template",
      "type": "Content",
      "createdAt": "2022-01-25T14:38:02Z",
      "editedAt": "2022-02-10T11:13:30.727Z",
      "contentType": "template",
      "locale": "en-GB",
      "url": null
    },
    "fields": {
      "blocks": [
        {
          "system": {
            "id": "301c1a31-8d62-4045-aa79-012f20ff429c",
            "name": "Text and Image Block (Placeholder)",
            "urlSegment": "text-and-image-block-placeholder",
            "type": "Content",
            "createdAt": "2022-01-27T14:26:52.223Z",
            "editedAt": "2022-01-27T14:27:01.373Z",
            "contentType": "textImageBlock",
            "locale": "en-GB",
            "url": null
          },
          "fields": {
            "text": "Add text here.",
            "imageUrl": "Add image URL here."
          }
        },
        {
          "system": {
            "id": "ddba095e-5e5c-4b1a-8318-a71eb6b71f04",
            "name": "Key Link Block (Placeholder)",
            "urlSegment": "key-link-block-placeholder",
            "type": "Content",
            "createdAt": "2022-01-27T14:27:23.21Z",
            "editedAt": "2022-01-27T14:37:25.073Z",
            "contentType": "keyLinkBlock",
            "locale": "en-GB",
            "url": null
          },
          "fields": {
            "linkText1": "Add link text here.",
            "linkUrl1": "Add link URL here.",
            "linkText2": "Add link text here.",
            "linkUrl2": "Add link URL here.",
            "linkText3": "Add link text here.",
            "linkUrl3": "Add link URL here."
          }
        }
      ],
      "customizable": true
    }
  }
]]]></Value>
    </pageContent>
    <title>
      <Value><![CDATA[This is the page title]]></Value>
    </title>
  </Properties>
</Content>