<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8970ed3-10d4-4306-861a-c3f362dc9fc3" Alias="group:9794ad17-8d9b-4da3-aafd-8ae109211f26" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/group9794ad178d9b4da3Aafd8ae109211f26</Path>
    <Trashed Parent="98a0dfd9-646b-402f-a9e4-46e69d8450d0">true</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-25T11:04:50</CreateDate>
    <NodeName Default="group:9794ad17-8d9b-4da3-aafd-8ae109211f26" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>