<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb6073bc-91b5-462b-80ac-37b97772e875" Alias="group:61de48cf686e483d84cfad95010721d3" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group61de48cf686e483d84cfad95010721d3</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:15:20</CreateDate>
    <NodeName Default="group:61de48cf686e483d84cfad95010721d3" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>