<?xml version="1.0" encoding="utf-8"?>
<Content Key="02db5d62-b442-4732-a2be-8bde45ad3f0a" Alias="group:6eb8f075-1b92-49d9-98aa-6cfa240025b6" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group6eb8f0751b9249d998aa6cfa240025b6</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-30T22:21:36</CreateDate>
    <NodeName Default="group:6eb8f075-1b92-49d9-98aa-6cfa240025b6" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>