<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1d86638-3a50-4d03-ada4-676b200deef4" Alias="group:aada5a39b2c446578a69087a100136f2" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupaada5a39b2c446578a69087a100136f2</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:26:12</CreateDate>
    <NodeName Default="group:aada5a39b2c446578a69087a100136f2" />
    <SortOrder>41</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>