<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b0204c5-b8a2-4d17-8519-416bc8d358fd" Alias="group:a39ffe35a7044b81b65c11bbce665343" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupa39ffe35a7044b81b65c11bbce665343</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:19:16</CreateDate>
    <NodeName Default="group:a39ffe35a7044b81b65c11bbce665343" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>