<?xml version="1.0" encoding="utf-8"?>
<Content Key="51431a7a-0b2f-41f5-8341-8c4585e43136" Alias="group:2d841d489753463faff2ad3a0093f48b" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group2d841d489753463faff2ad3a0093f48b</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:12:29</CreateDate>
    <NodeName Default="group:2d841d489753463faff2ad3a0093f48b" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>