<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8b25e05-a90f-4c53-b642-4b2e80cf0e31" Alias="group:545217e2b5fe4b46ba6-fbcac2192fbf" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group545217e2b5fe4b46ba6Fbcac2192fbf</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-26T10:23:02</CreateDate>
    <NodeName Default="group:545217e2b5fe4b46ba6-fbcac2192fbf" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>