<?xml version="1.0" encoding="utf-8"?>
<Content Key="d033503e-4150-4625-9f83-46a0d04cc6b3" Alias="group:ef3134c67f794f179e945b02d3cbd607" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/groupef3134c67f794f179e945b02d3cbd607</Path>
    <Trashed Parent="98a0dfd9-646b-402f-a9e4-46e69d8450d0">true</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-05-25T11:18:33</CreateDate>
    <NodeName Default="group:ef3134c67f794f179e945b02d3cbd607" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>