<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b955a4a-9e26-43e8-bb4b-51010e264d64" Alias="Homepage Template" Level="3">
  <Info>
    <Parent Key="7c9a53b0-bcd0-4ed2-bed5-bc497692a43c">Templates</Parent>
    <Path>/CMS/Templates/HomepageTemplate</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2022-01-25T14:38:02</CreateDate>
    <NodeName Default="Homepage Template" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/5eb5d658e4b245a5a53c1fc58c0149e4,umb://document/c99fd676d81f4070beac0fad12b03fa1]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
  </Properties>
</Content>