<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b955a4a-9e26-43e8-bb4b-51010e264d64" Alias="Homepage Template" Level="3">
  <Info>
    <Parent Key="7c9a53b0-bcd0-4ed2-bed5-bc497692a43c">Templates Folder</Parent>
    <Path>/Home/TemplatesFolder/HomepageTemplate</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2022-01-25T14:38:02</CreateDate>
    <NodeName Default="Homepage Template" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockPicker>
      <Value><![CDATA[umb://document/301c1a318d624045aa79012f20ff429c,umb://document/ddba095e5e5c4b1a8318a71eb6b71f04]]></Value>
    </blockPicker>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
  </Properties>
</Content>