<?xml version="1.0" encoding="utf-8"?>
<Content Key="41fbf971-b8e8-4728-9b22-9950f9c9722f" Alias="Key Link Block 5" Level="4">
  <Info>
    <Parent Key="16eadf8e-aa5a-4b34-bc8a-65bff0ea357d">Blocks Misc</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/BlocksMisc/KeyLinkBlock5</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-26T11:39:17</CreateDate>
    <NodeName Default="Key Link Block 5" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[Link here]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[/]]></Value>
    </url>
  </Properties>
</Content>