<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c49241a-7c6f-4233-a6cd-173c7f478555" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="e140f61c-cb4b-41e0-a80d-5565cbd0259e">Automation Group To Be Restricted</Parent>
    <Path>/CMS/Groups/AutomationGroupToBeRestricted/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T14:29:19</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>