<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7d2cab4-4b9a-4e45-808e-63132da6099f" Alias="Key Link Block 3" Level="4">
  <Info>
    <Parent Key="16eadf8e-aa5a-4b34-bc8a-65bff0ea357d">Blocks Misc</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/BlocksMisc/KeyLinkBlock3</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-26T11:38:57</CreateDate>
    <NodeName Default="Key Link Block 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>