<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ab908d8-02c9-405f-94c1-a039abf79938" Alias="Key Link Block (Placeholder)" Level="3">
  <Info>
    <Parent Key="1fb7c306-baa1-4ae3-a7b4-0c06c2eb3fd4">Blocks</Parent>
    <Path>/Home/Blocks/KeyLinkBlockPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-04-22T11:21:34</CreateDate>
    <NodeName Default="Key Link Block (Placeholder)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[Add link text here.]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[Add URL here.]]></Value>
    </url>
  </Properties>
</Content>