<?xml version="1.0" encoding="utf-8"?>
<Content Key="f55c7087-189a-4a53-95cc-e855fcacddfa" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="f8b25e05-a90f-4c53-b642-4b2e80cf0e31">group:545217e2b5fe4b46ba6-fbcac2192fbf</Parent>
    <Path>/CMS/Groups/group545217e2b5fe4b46ba6Fbcac2192fbf/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:08:38</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>