<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3a72895-2f39-46bf-8923-5eb7c81e33d7" Alias="Key Links Block (Placeholder)" Level="3">
  <Info>
    <Parent Key="1fb7c306-baa1-4ae3-a7b4-0c06c2eb3fd4">Blocks</Parent>
    <Path>/Home/Blocks/KeyLinksBlockPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-04-07T15:29:32</CreateDate>
    <NodeName Default="Key Links Block (Placeholder)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[umb://document/3ab908d802c9405f94c1a039abf79938]]></Value>
    </links>
    <title>
      <Value><![CDATA[Add link text here.]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[Add introduction text here.]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[Add subtitle text here (optional).]]></Value>
    </titleSubtitle>
  </Properties>
</Content>