<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a3d6aba-6a3c-4845-8327-d62c84a092ad" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="78fbcab5-8254-4519-a82e-3fb8922fd434">group:6d347a9026434e25bbce12d32e3e22b6</Parent>
    <Path>/CMS/Groups/group6d347a9026434e25bbce12d32e3e22b6/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:08:29</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>