<?xml version="1.0" encoding="utf-8"?>
<Content Key="2160bcae-1bfc-4c05-8eb9-14cb00c1dd05" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="40e4d3dd-6968-43b9-ad3e-d1d3070a5e7b">group:412347267e934767afbeadda00f560a2</Parent>
    <Path>/CMS/Groups/group412347267e934767afbeadda00f560a2/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:04:42</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>