<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9f8bc82-6ae5-43c6-943a-ded085f65b30" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="768e10cf-f460-4b73-b2e3-d80ebdf221a8">AutoPendingGroup</Parent>
    <Path>/CMS/Groups/AutoPendingGroup/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T14:27:55</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>