<?xml version="1.0" encoding="utf-8"?>
<Content Key="5012a58d-8a0a-4c54-b174-5c4f2e259f19" Alias="Key Link Block 4" Level="4">
  <Info>
    <Parent Key="16eadf8e-aa5a-4b34-bc8a-65bff0ea357d">Blocks Misc</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/BlocksMisc/KeyLinkBlock4</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-26T11:39:05</CreateDate>
    <NodeName Default="Key Link Block 4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>