<?xml version="1.0" encoding="utf-8"?>
<Content Key="f39a89ea-21c4-499a-a256-040c628f1ffe" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="ab22598d-ef80-4d7f-bfca-c658d11631a8">Automation Visual Regression Group</Parent>
    <Path>/CMS/Groups/AutomationVisualRegressionGroup/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T14:28:48</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>