<?xml version="1.0" encoding="utf-8"?>
<Content Key="966f6f5e-c76b-49fe-bd18-30ba2a649803" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="2cd52e7a-01d2-4ce2-99eb-c503a26f60f8">group:3e4a64dc664a4388bc52ad950106fb30</Parent>
    <Path>/CMS/Groups/group3e4a64dc664a4388bc52ad950106fb30/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:04:21</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>