<?xml version="1.0" encoding="utf-8"?>
<Content Key="85dc9b3b-977c-44e8-92f8-624a8a1143c8" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="1f44a85b-ae9a-4ee5-9341-8e14c90d51aa">group:8c657917b7c44aa6b4c4fbd167b61889</Parent>
    <Path>/CMS/Groups/group8c657917b7c44aa6b4c4fbd167b61889/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:05:59</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>