<?xml version="1.0" encoding="utf-8"?>
<Content Key="806803b6-edaa-4399-90fd-90286a4d4e3c" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="ea48d2a8-cdaf-49b1-b4bf-a6704c4819ba">group:b1e1a24656a2483eb64b83cb2a9e0fe4</Parent>
    <Path>/CMS/Groups/groupb1e1a24656a2483eb64b83cb2a9e0fe4/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:07:44</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>