<?xml version="1.0" encoding="utf-8"?>
<Content Key="f039cbce-e35a-496f-88cc-5c36b8851d58" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="51d10e22-d20a-4ae9-9d75-6d10d9a60d79">Automation Editable Group</Parent>
    <Path>/CMS/Groups/AutomationEditableGroup/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T14:29:10</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>