<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ed71fdd-28a7-4993-be20-87becd2e033d" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="f51fef55-b169-4640-b3f5-2aef7334f9ec">group:bc200dc3bd1843d8805c04b25bca18a3</Parent>
    <Path>/CMS/Groups/groupbc200dc3bd1843d8805c04b25bca18a3/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:08:17</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>