<?xml version="1.0" encoding="utf-8"?>
<Content Key="f13f6846-608a-4bbe-83af-70c138e57959" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="300afd39-dae4-4690-a68b-6bbbef067200">group:1d39ae7c6348413aa7a9f895ff7dacfd</Parent>
    <Path>/CMS/Groups/group1d39ae7c6348413aa7a9f895ff7dacfd/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:06:12</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>