<?xml version="1.0" encoding="utf-8"?>
<Content Key="395fbc33-06bb-489c-9d8e-d69a8741fa79" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="b1d86638-3a50-4d03-ada4-676b200deef4">group:aada5a39b2c446578a69087a100136f2</Parent>
    <Path>/CMS/Groups/groupaada5a39b2c446578a69087a100136f2/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:05:46</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>