<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce9d1994-5d6f-4880-829d-e64f2a5f3a96" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="ef4ccfda-118d-4050-b5ce-04487c271018">group:e76b91ae-b406-4b74-827a-905f949d52a2</Parent>
    <Path>/CMS/Groups/groupe76b91aeB4064b74827a905f949d52a2/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T12:19:16</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>