<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b441067-db8c-43df-ae8f-3c796976ffcc" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="b02eaec7-4de7-46e5-bfa5-a8632979cb5e">group:b7be793e0bf246e8aa16019f53bf0e62</Parent>
    <Path>/CMS/Groups/groupb7be793e0bf246e8aa16019f53bf0e62/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:08:01</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>