<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddba095e-5e5c-4b1a-8318-a71eb6b71f04" Alias="Key Link Block (Placeholder)" Level="3">
  <Info>
    <Parent Key="1fb7c306-baa1-4ae3-a7b4-0c06c2eb3fd4">Blocks Folder</Parent>
    <Path>/Home/BlocksFolder/KeyLinkBlockPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-01-27T14:27:23</CreateDate>
    <NodeName Default="Key Link Block (Placeholder)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText1>
      <Value><![CDATA[Add link text here.]]></Value>
    </linkText1>
    <linkText2>
      <Value><![CDATA[Add link text here.]]></Value>
    </linkText2>
    <linkText3>
      <Value><![CDATA[Add link text here.]]></Value>
    </linkText3>
    <linkUrl1>
      <Value><![CDATA[Add link URL here.]]></Value>
    </linkUrl1>
    <linkUrl2>
      <Value><![CDATA[Add link URL here.]]></Value>
    </linkUrl2>
    <linkUrl3>
      <Value><![CDATA[Add link URL here.]]></Value>
    </linkUrl3>
  </Properties>
</Content>