<?xml version="1.0" encoding="utf-8"?>
<Content Key="754ec733-43f3-4381-b529-39f647faa22b" Alias="Key Link Block 6" Level="4">
  <Info>
    <Parent Key="16eadf8e-aa5a-4b34-bc8a-65bff0ea357d">Blocks Misc</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/BlocksMisc/KeyLinkBlock6</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-26T11:39:28</CreateDate>
    <NodeName Default="Key Link Block 6" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>