<?xml version="1.0" encoding="utf-8"?>
<Content Key="c99fd676-d81f-4070-beac-0fad12b03fa1" Alias="Key Links Block (Placeholder)" Level="4">
  <Info>
    <Parent Key="9ff8db24-fe1f-428b-a742-1b4bb2a7c00f">Placeholder Blocks</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/PlaceholderBlocks/KeyLinksBlockPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-31T00:08:12</CreateDate>
    <NodeName Default="Key Links Block (Placeholder)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/f49485f61fe043e1a5055a4d98f8229a,umb://document/250bc726ffd0448cadaa9c2cf3e6e14a,umb://document/c7d2cab44b9a4e45808e63132da6099f,umb://document/5012a58d8a0a4c54b1745c4f2e259f19,umb://document/41fbf971b8e847289b229950f9c9722f,umb://document/754ec73343f34381b52939f647faa22b]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>