<?xml version="1.0" encoding="utf-8"?>
<Content Key="51ade068-01c3-498f-833e-28e2533c91ad" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="4d6d9da6-3cca-4678-95fb-0f1119b950bb">group:0c964ce6b2e4475eb0a708dc109c1468</Parent>
    <Path>/CMS/Groups/group0c964ce6b2e4475eb0a708dc109c1468/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:08:56</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>