<?xml version="1.0" encoding="utf-8"?>
<Content Key="739adaf0-d5f6-447b-a93a-8defb5070674" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="646f3491-f4f8-4c94-9c1e-1d185fbf6343">Automation Private Group</Parent>
    <Path>/CMS/Groups/AutomationPrivateGroup/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T14:28:11</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>