<?xml version="1.0" encoding="utf-8"?>
<Content Key="e31cc226-7c6c-4f24-a1bf-8fd5b56b3eeb" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="fa67119a-e630-4227-97d3-05ebfa52151e">group:0d1ea1e083f9491fb99aad4000df7f09</Parent>
    <Path>/CMS/Groups/group0d1ea1e083f9491fb99aad4000df7f09/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:04:06</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>