<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e5b73fd-bc6b-4bcc-bb20-cf55fbf2341f" Alias="Key Link Block3" Level="4">
  <Info>
    <Parent Key="9ff8db24-fe1f-428b-a742-1b4bb2a7c00f">Placeholder Blocks</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/PlaceholderBlocks/KeyLinkBlock3</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-31T00:10:26</CreateDate>
    <NodeName Default="Key Link Block3" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[Link 3]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>