<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f96692b-0f17-4ed9-8c70-1d84afa9dd67" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="0b955a4a-9e26-43e8-bb4b-51010e264d64">Homepage Template</Parent>
    <Path>/CMS/Templates/HomepageTemplate/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T12:50:48</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>