<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ab908d8-02c9-405f-94c1-a039abf79938" Alias="Key Link Block (Placeholder)" Level="4">
  <Info>
    <Parent Key="9ff8db24-fe1f-428b-a742-1b4bb2a7c00f">Placeholder Blocks</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/PlaceholderBlocks/KeyLinkBlockPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-04-22T11:21:34</CreateDate>
    <NodeName Default="Key Link Block (Placeholder)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>