<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c8e54d2-97b5-4d0a-b5ee-f56fc502ef6f" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="241f6080-dc90-428c-aa86-8a27c7c911ae">group:7a016eba0d3c4452a0aa07b02beb57fb</Parent>
    <Path>/CMS/Groups/group7a016eba0d3c4452a0aa07b02beb57fb/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:05:33</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>