<?xml version="1.0" encoding="utf-8"?>
<Content Key="b612041a-65dd-46a3-8cf8-c8b7dc072328" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="45945ea4-ec8e-46bf-b4a1-119f7149258d">group:d641991d710d4209b0d83b62ee8d2c42</Parent>
    <Path>/CMS/Groups/groupd641991d710d4209b0d83b62ee8d2c42/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:07:34</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>