<?xml version="1.0" encoding="utf-8"?>
<Content Key="e94e7b70-662b-444d-958d-05e292eac729" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="1ffeeb7b-afe6-4e83-aea5-25dab93dda45">group:1f165046f9ea4461a14fbc8df121ca6e</Parent>
    <Path>/CMS/Groups/group1f165046f9ea4461a14fbc8df121ca6e/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:03:57</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>