<?xml version="1.0" encoding="utf-8"?>
<Content Key="f49485f6-1fe0-43e1-a505-5a4d98f8229a" Alias="Key Link Block 1" Level="4">
  <Info>
    <Parent Key="16eadf8e-aa5a-4b34-bc8a-65bff0ea357d">Blocks Misc</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/BlocksMisc/KeyLinkBlock1</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-26T11:38:41</CreateDate>
    <NodeName Default="Key Link Block 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[Link here]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[/]]></Value>
    </url>
  </Properties>
</Content>