<?xml version="1.0" encoding="utf-8"?>
<Content Key="250bc726-ffd0-448c-adaa-9c2cf3e6e14a" Alias="Key Link Block 2" Level="4">
  <Info>
    <Parent Key="16eadf8e-aa5a-4b34-bc8a-65bff0ea357d">Blocks Misc</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/BlocksMisc/KeyLinkBlock2</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-26T11:38:50</CreateDate>
    <NodeName Default="Key Link Block 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>