<?xml version="1.0" encoding="utf-8"?>
<Content Key="9eb331fa-1687-41d5-bbb3-be9378dac40e" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="51431a7a-0b2f-41f5-8341-8c4585e43136">group:2d841d489753463faff2ad3a0093f48b</Parent>
    <Path>/CMS/Groups/group2d841d489753463faff2ad3a0093f48b/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T13:01:05</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>