<?xml version="1.0" encoding="utf-8"?>
<Content Key="e465cd21-e5be-48f5-b414-df0ba15b8a3e" Alias="keyLinksBlock:e465cd21-e5be-48f5-b414-df0ba15b8a3e" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlocke6cd7d8e4338415f9ea4B1f1cc46df8d</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:42:27</CreateDate>
    <NodeName Default="keyLinksBlock:e465cd21-e5be-48f5-b414-df0ba15b8a3e" />
    <SortOrder>159</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/8e379539668144c689ba112aa078917c]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>