<?xml version="1.0" encoding="utf-8"?>
<Content Key="44ec45d0-c042-47ab-8e97-a465a8cbf23a" Alias="keyLinksBlock:44ec45d0-c042-47ab-8e97-a465a8cbf23a" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlockcb76c9570ce3437bAfcbE258051ca89e</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-24T13:12:21</CreateDate>
    <NodeName Default="keyLinksBlock:44ec45d0-c042-47ab-8e97-a465a8cbf23a" />
    <SortOrder>106</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>