<?xml version="1.0" encoding="utf-8"?>
<Content Key="1dc5d87c-d7ea-4caf-8539-93799138150e" Alias="keyLinksBlock:1dc5d87c-d7ea-4caf-8539-93799138150e" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlockcee86596655f47c39089B7728e1a3fa9</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-26T14:25:54</CreateDate>
    <NodeName Default="keyLinksBlock:1dc5d87c-d7ea-4caf-8539-93799138150e" />
    <SortOrder>178</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>