<?xml version="1.0" encoding="utf-8"?>
<Content Key="4dd7f4b0-d375-46a3-9685-7669a494f4b7" Alias="keyLinksBlock:4dd7f4b0-d375-46a3-9685-7669a494f4b7" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock634123ecC341485494811ebf833a24ac</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:29:59</CreateDate>
    <NodeName Default="keyLinksBlock:4dd7f4b0-d375-46a3-9685-7669a494f4b7" />
    <SortOrder>153</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/c63bfccec0dc4f5ebbb9ea55d2294404]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>