<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce981b4f-4f55-4dc7-8ab0-7a371a01fafd" Alias="keyLinkBlock:ce981b4f-4f55-4dc7-8ab0-7a371a01fafd" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockebe4bc94C59c49578e03596402cf6863</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-24T12:16:42</CreateDate>
    <NodeName Default="keyLinkBlock:ce981b4f-4f55-4dc7-8ab0-7a371a01fafd" />
    <SortOrder>103</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[BBC]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[https://www.bbc.co.uk]]></Value>
    </url>
  </Properties>
</Content>