<?xml version="1.0" encoding="utf-8"?>
<Content Key="35759fb7-827d-4a0b-a361-8022f679e256" Alias="keyLinksBlock:35759fb7-827d-4a0b-a361-8022f679e256" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock35759fb7827d4a0bA3618022f679e256</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-30T13:02:55</CreateDate>
    <NodeName Default="keyLinksBlock:35759fb7-827d-4a0b-a361-8022f679e256" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>