<?xml version="1.0" encoding="utf-8"?>
<Content Key="5aff464c-9dc4-4279-8428-ea4bcacef5a4" Alias="keyLinksBlock:5aff464c-9dc4-4279-8428-ea4bcacef5a4" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock91e7140bAe224b31A4b4Ffa87d9f5dd3</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:56:37</CreateDate>
    <NodeName Default="keyLinksBlock:5aff464c-9dc4-4279-8428-ea4bcacef5a4" />
    <SortOrder>165</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/b659fc9a89cd4a46bd992b9b34410fb7]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>