<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb7bc454-d5fe-458e-82bb-3318c6d694aa" Alias="keyLinkBlock:eb7bc454-d5fe-458e-82bb-3318c6d694aa" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockeb7bc454D5fe458e82bb3318c6d694aa</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-31T00:15:36</CreateDate>
    <NodeName Default="keyLinkBlock:eb7bc454-d5fe-458e-82bb-3318c6d694aa" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>