<?xml version="1.0" encoding="utf-8"?>
<Content Key="f58ff70a-5000-47d8-acc8-48107cbf94f4" Alias="keyLinkBlock:f58ff70a-5000-47d8-acc8-48107cbf94f4" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlock676ba761D1c843e18314F547aeab9f1f</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-27T11:59:54</CreateDate>
    <NodeName Default="keyLinkBlock:f58ff70a-5000-47d8-acc8-48107cbf94f4" />
    <SortOrder>194</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>