<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1781e96-78c9-4377-86c0-515e64fb09f6" Alias="keyLinksBlock:b1781e96-78c9-4377-86c0-515e64fb09f6" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlockb1781e9678c9437786c0515e64fb09f6</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-31T00:15:29</CreateDate>
    <NodeName Default="keyLinksBlock:b1781e96-78c9-4377-86c0-515e64fb09f6" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/eb7bc454d5fe458e82bb3318c6d694aa,umb://document/ee7a7760c8784efa99c445f903972fb3]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>