<?xml version="1.0" encoding="utf-8"?>
<Content Key="354e1132-3ea1-40f8-bf24-93b1e0008735" Alias="keyLinksBlock:354e1132-3ea1-40f8-bf24-93b1e0008735" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlockd13a1967A7084ac9A77b92ba6d480e78</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:20:23</CreateDate>
    <NodeName Default="keyLinksBlock:354e1132-3ea1-40f8-bf24-93b1e0008735" />
    <SortOrder>145</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/4df1749c52f740dcb66d51ce2c81c670]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>