<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e445386-37c1-4a94-bae2-ed36d1fea4a9" Alias="keyLinksBlock:6e445386-37c1-4a94-bae2-ed36d1fea4a9" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock6e44538637c14a94Bae2Ed36d1fea4a9</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T17:01:40</CreateDate>
    <NodeName Default="keyLinksBlock:6e445386-37c1-4a94-bae2-ed36d1fea4a9" />
    <SortOrder>170</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/7f818af1e725450990b006ab1afe45a8,umb://document/136634bedecc4e11b4a66c4df01f97fa,umb://document/e5cf791d46954ffaba78f6d1fe0c6637,umb://document/eb529b03d4924715a7248cc64229b80a]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[Add link text here.]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>