<?xml version="1.0" encoding="utf-8"?>
<Content Key="27ae4310-85af-492c-b93c-51d999e37bde" Alias="keyLinkBlock:27ae4310-85af-492c-b93c-51d999e37bde" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockfa3077285f744bebB3a0933d95310402</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-25T11:45:44</CreateDate>
    <NodeName Default="keyLinkBlock:27ae4310-85af-492c-b93c-51d999e37bde" />
    <SortOrder>123</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>