<?xml version="1.0" encoding="utf-8"?>
<Content Key="37ca3d01-2193-410c-8d80-eb681893c1d4" Alias="keyLinkBlock:37ca3d01-2193-410c-8d80-eb681893c1d4" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlocka5ef4a724d3d4de5A298174cf33c1baf</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-26T11:10:55</CreateDate>
    <NodeName Default="keyLinkBlock:37ca3d01-2193-410c-8d80-eb681893c1d4" />
    <SortOrder>175</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>