<?xml version="1.0" encoding="utf-8"?>
<Content Key="40298416-673e-4f39-aa95-0bf18188c46f" Alias="keyLinksBlock:40298416-673e-4f39-aa95-0bf18188c46f" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock303f99f9Ef8242ebBcbd0e25465e4dc5</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:49:55</CreateDate>
    <NodeName Default="keyLinksBlock:40298416-673e-4f39-aa95-0bf18188c46f" />
    <SortOrder>161</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/3ec43659273742d588c521c9482b535d]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>