<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb3c9a47-cddd-4f7c-a69a-38221fc01e1d" Alias="keyLinksBlock:bb3c9a47-cddd-4f7c-a69a-38221fc01e1d" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock8524f6e131a1497bB6c38eb06c0f9a31</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T09:41:05</CreateDate>
    <NodeName Default="keyLinksBlock:bb3c9a47-cddd-4f7c-a69a-38221fc01e1d" />
    <SortOrder>119</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>