<?xml version="1.0" encoding="utf-8"?>
<Content Key="d275c3b7-24a2-4938-8d2c-f2e39adb3190" Alias="keyLinkBlock:d275c3b7-24a2-4938-8d2c-f2e39adb3190" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockd275c3b724a249388d2cF2e39adb3190</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-24T14:00:43</CreateDate>
    <NodeName Default="keyLinkBlock:d275c3b7-24a2-4938-8d2c-f2e39adb3190" />
    <SortOrder>109</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[Google]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[https://www.google.com]]></Value>
    </url>
  </Properties>
</Content>