<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f818af1-e725-4509-90b0-06ab1afe45a8" Alias="keyLinkBlock:7f818af1-e725-4509-90b0-06ab1afe45a8" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlock6650a888B28b45439fb30aa5cc8d14bb</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-25T17:02:00</CreateDate>
    <NodeName Default="keyLinkBlock:7f818af1-e725-4509-90b0-06ab1afe45a8" />
    <SortOrder>171</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[ascsacsac]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[dsvdsv]]></Value>
    </url>
  </Properties>
</Content>