<?xml version="1.0" encoding="utf-8"?>
<Content Key="21d6cd63-89a6-4bd9-a1ed-b35b81def060" Alias="keyLinksBlock:21d6cd63-89a6-4bd9-a1ed-b35b81def060" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock21d6cd6389a64bd9A1edB35b81def060</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-31T00:15:29</CreateDate>
    <NodeName Default="keyLinksBlock:21d6cd63-89a6-4bd9-a1ed-b35b81def060" />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>