<?xml version="1.0" encoding="utf-8"?>
<Content Key="62e4ad99-aabc-4d44-8ec7-2d28bdb847fc" Alias="keyLinksBlock:62e4ad99-aabc-4d44-8ec7-2d28bdb847fc" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock62e4ad99Aabc4d448ec72d28bdb847fc</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-31T00:11:42</CreateDate>
    <NodeName Default="keyLinksBlock:62e4ad99-aabc-4d44-8ec7-2d28bdb847fc" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/2702f1d4af254d298eb7159e9340b6eb]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[test 1234]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>