<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2943435-cfeb-47d5-91b7-f988e7b66664" Alias="keyLinkBlock:c2943435-cfeb-47d5-91b7-f988e7b66664" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockc2943435Cfeb47d591b7F988e7b66664</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-31T00:27:22</CreateDate>
    <NodeName Default="keyLinkBlock:c2943435-cfeb-47d5-91b7-f988e7b66664" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[boo 2]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[www.amazon.com]]></Value>
    </url>
  </Properties>
</Content>