<?xml version="1.0" encoding="utf-8"?>
<Content Key="b162d4ae-72f5-470b-b5fb-fc3f9297f3c6" Alias="keyLinkBlock:b162d4ae-72f5-470b-b5fb-fc3f9297f3c6" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlock41f423f28eb045efBf707d0fad9ed902</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-26T14:27:28</CreateDate>
    <NodeName Default="keyLinkBlock:b162d4ae-72f5-470b-b5fb-fc3f9297f3c6" />
    <SortOrder>180</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[YouTube]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[https://www.youtube.com]]></Value>
    </url>
  </Properties>
</Content>