<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfae7dfd-facb-44ec-8bb3-53990634532b" Alias="keyLinksBlock:cfae7dfd-facb-44ec-8bb3-53990634532b" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock33ec96cfAe2b42f4Af58A28c1c8ef5d2</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T14:48:41</CreateDate>
    <NodeName Default="keyLinksBlock:cfae7dfd-facb-44ec-8bb3-53990634532b" />
    <SortOrder>129</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/5e5896f4ed1246379bd8cb457417bbb6,umb://document/8800c08da8a34238861ebc7fe8e4377a]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>