<?xml version="1.0" encoding="utf-8"?>
<Content Key="44b319c8-fa3d-4612-8bcb-5664e2e2a878" Alias="keyLinksBlock:44b319c8-fa3d-4612-8bcb-5664e2e2a878" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock44b319c8Fa3d46128bcb5664e2e2a878</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-30T13:02:34</CreateDate>
    <NodeName Default="keyLinksBlock:44b319c8-fa3d-4612-8bcb-5664e2e2a878" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>