<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb529b03-d492-4715-a724-8cc64229b80a" Alias="keyLinkBlock:eb529b03-d492-4715-a724-8cc64229b80a" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlock5f0cd85258cf4f4c8f51986b7fd87c25</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-26T11:34:36</CreateDate>
    <NodeName Default="keyLinkBlock:eb529b03-d492-4715-a724-8cc64229b80a" />
    <SortOrder>177</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>