<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f5e58bb-981e-4663-b34b-13609e3b88c3" Alias="keyLinksBlock:2f5e58bb-981e-4663-b34b-13609e3b88c3" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock82b871f7B60743e99d21F9d02e4d167e</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-26T11:08:11</CreateDate>
    <NodeName Default="keyLinksBlock:2f5e58bb-981e-4663-b34b-13609e3b88c3" />
    <SortOrder>173</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>