<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb28f8ed-2b4a-4d11-8d9f-6efef22369be" Alias="keyLinksBlock:cb28f8ed-2b4a-4d11-8d9f-6efef22369be" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlocke338750e7c9843f6B49814a9374233c6</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:51:10</CreateDate>
    <NodeName Default="keyLinksBlock:cb28f8ed-2b4a-4d11-8d9f-6efef22369be" />
    <SortOrder>163</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/f6936cff637f4323872b03fe42fc9e71]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>