<?xml version="1.0" encoding="utf-8"?>
<Content Key="65ea684a-a37d-47cf-b714-702d0a395741" Alias="keyLinkBlock:65ea684a-a37d-47cf-b714-702d0a395741" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlock65ea684aA37d47cfB714702d0a395741</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-31T00:20:38</CreateDate>
    <NodeName Default="keyLinkBlock:65ea684a-a37d-47cf-b714-702d0a395741" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[boo]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[www.google.com]]></Value>
    </url>
  </Properties>
</Content>