<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee7a7760-c878-4efa-99c4-45f903972fb3" Alias="keyLinkBlock:ee7a7760-c878-4efa-99c4-45f903972fb3" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockee7a7760C8784efa99c445f903972fb3</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-31T00:15:46</CreateDate>
    <NodeName Default="keyLinkBlock:ee7a7760-c878-4efa-99c4-45f903972fb3" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>