<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8e52569-6180-496a-8a91-473f0c5b8aa4" Alias="keyLinksBlock:d8e52569-6180-496a-8a91-473f0c5b8aa4" Level="4">
  <Info>
    <Parent Key="ef4ccfda-118d-4050-b5ce-04487c271018">group:e76b91ae-b406-4b74-827a-905f949d52a2</Parent>
    <Path>/CMS/Groups/groupe76b91aeB4064b74827a905f949d52a2/keyLinksBlockd8e525696180496a8a91473f0c5b8aa4</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-20T12:19:27</CreateDate>
    <NodeName Default="keyLinksBlock:d8e52569-6180-496a-8a91-473f0c5b8aa4" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[test]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>