<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf084521-135b-440f-9266-99739a47def5" Alias="keyLinkBlock:cf084521-135b-440f-9266-99739a47def5" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockcf084521135b440f926699739a47def5</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-31T00:05:01</CreateDate>
    <NodeName Default="keyLinkBlock:cf084521-135b-440f-9266-99739a47def5" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>