<?xml version="1.0" encoding="utf-8"?>
<Content Key="b768d01c-0b6c-491c-8bc9-80488f9a01c5" Alias="keyLinksBlock:b768d01c-0b6c-491c-8bc9-80488f9a01c5" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlockb768d01c0b6c491c8bc980488f9a01c5</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-31T00:20:31</CreateDate>
    <NodeName Default="keyLinksBlock:b768d01c-0b6c-491c-8bc9-80488f9a01c5" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/65ea684aa37d47cfb714702d0a395741,umb://document/c2943435cfeb47d591b7f988e7b66664]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[well hello there]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>