<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c8a5b54-fafa-4452-83b8-6f3dc9741ada" Alias="keyLinksBlock:0c8a5b54-fafa-4452-83b8-6f3dc9741ada" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock3695424b2364478dAa979d641963fd02</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:09:14</CreateDate>
    <NodeName Default="keyLinksBlock:0c8a5b54-fafa-4452-83b8-6f3dc9741ada" />
    <SortOrder>138</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/89cff200527447d5adf25bf69720007c,umb://document/5c2a7e78f0644226bbc6f2a107dd720b]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>