<?xml version="1.0" encoding="utf-8"?>
<Content Key="185a22a4-2a4c-4c96-a95c-30aca00bb8a1" Alias="keyLinksBlock:185a22a4-2a4c-4c96-a95c-30aca00bb8a1" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock1102cbe580984501B61600a67754b401</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T10:12:57</CreateDate>
    <NodeName Default="keyLinksBlock:185a22a4-2a4c-4c96-a95c-30aca00bb8a1" />
    <SortOrder>120</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>