<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c4f7146-8de7-4048-9d68-9268ae65f68c" Alias="keyLinksBlock:5c4f7146-8de7-4048-9d68-9268ae65f68c" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlockea8f47db2a05429c83852992e0db607b</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:08:53</CreateDate>
    <NodeName Default="keyLinksBlock:5c4f7146-8de7-4048-9d68-9268ae65f68c" />
    <SortOrder>136</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/9937df4cb7904283b4f096abc1bdc137]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>