<?xml version="1.0" encoding="utf-8"?>
<Content Key="03135e47-76ef-4d92-8781-93ccb4f514ad" Alias="keyLinkBlock:03135e47-76ef-4d92-8781-93ccb4f514ad" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockcac82451098a4b39Bafd7caf852f87aa</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-27T11:50:09</CreateDate>
    <NodeName Default="keyLinkBlock:03135e47-76ef-4d92-8781-93ccb4f514ad" />
    <SortOrder>192</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>