<?xml version="1.0" encoding="utf-8"?>
<Content Key="b34cf3a8-f7b3-4b6b-82e0-51bb6e67052d" Alias="keyLinkBlock:b34cf3a8-f7b3-4b6b-82e0-51bb6e67052d" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockb14bdefa6e4b4d1cAe3965348ea973d8</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-27T11:59:43</CreateDate>
    <NodeName Default="keyLinkBlock:b34cf3a8-f7b3-4b6b-82e0-51bb6e67052d" />
    <SortOrder>193</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>