<?xml version="1.0" encoding="utf-8"?>
<Content Key="65c1e6e6-6879-4596-8b09-2d65c4d493af" Alias="keyLinksBlock:65c1e6e6-6879-4596-8b09-2d65c4d493af" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlockb9924b1f792d4da88c632f596febc008</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T14:59:35</CreateDate>
    <NodeName Default="keyLinksBlock:65c1e6e6-6879-4596-8b09-2d65c4d493af" />
    <SortOrder>134</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/1d3c8da8d0c747248a53ff8c729a40f9]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>