<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c322460-96f1-4c1f-8211-cff1b310595e" Alias="keyLinksBlock:1c322460-96f1-4c1f-8211-cff1b310595e" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock8ec8e2e8Dd9a4028847bE4a28c54dd75</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T14:54:04</CreateDate>
    <NodeName Default="keyLinksBlock:1c322460-96f1-4c1f-8211-cff1b310595e" />
    <SortOrder>132</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/dd613b02f98841cd948384677e99a57c]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>