<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5c4ad6f-fccc-4069-88cb-34b5042c7faf" Alias="keyLinksBlock:a5c4ad6f-fccc-4069-88cb-34b5042c7faf" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock1b508daa0b0847b68aceB8b33e3d2515</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:24:08</CreateDate>
    <NodeName Default="keyLinksBlock:a5c4ad6f-fccc-4069-88cb-34b5042c7faf" />
    <SortOrder>151</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/63bc2a44d47d4613942ec9a353cfdc78]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>