<?xml version="1.0" encoding="utf-8"?>
<Content Key="20b5dd16-61b8-4c2d-8668-e7618570e5ac" Alias="keyLinksBlock:20b5dd16-61b8-4c2d-8668-e7618570e5ac" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock842913c3E9c54a8dAb419e934e0038af</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-26T16:38:01</CreateDate>
    <NodeName Default="keyLinksBlock:20b5dd16-61b8-4c2d-8668-e7618570e5ac" />
    <SortOrder>181</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/eaebc2bbdc0e414d9efb0269dcc9398b]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>