<?xml version="1.0" encoding="utf-8"?>
<Content Key="8176dcf1-f5bf-4827-9219-26529f18f6a7" Alias="keyLinksBlock:8176dcf1-f5bf-4827-9219-26529f18f6a7" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock26b9631bE611426fB222A6107fde7f7b</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:12:42</CreateDate>
    <NodeName Default="keyLinksBlock:8176dcf1-f5bf-4827-9219-26529f18f6a7" />
    <SortOrder>141</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/911cb63c120147859fbb7f9dbd6a9e7e]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>