<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e445386-37c1-4a94-bae2-ed36d1fea4a9" Alias="keyLinksBlock:6e445386-37c1-4a94-bae2-ed36d1fea4a9" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock6e44538637c14a94Bae2Ed36d1fea4a9</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T17:01:40</CreateDate>
    <NodeName Default="keyLinksBlock:6e445386-37c1-4a94-bae2-ed36d1fea4a9" />
    <SortOrder>170</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/7f818af1e725450990b006ab1afe45a8,umb://document/136634bedecc4e11b4a66c4df01f97fa,umb://document/b162d4ae72f5470bb5fbfc3f9297f3c6,umb://document/50748cfb5455406993e6282f98bfe378,umb://document/b595b24a7f02446bb554e9ae1af7c8b6,umb://document/03135e4776ef4d92878193ccb4f514ad,umb://document/b34cf3a8f7b34b6b82e051bb6e67052d,umb://document/f58ff70a500047d8acc848107cbf94f4]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[Add link text here.]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>