<?xml version="1.0" encoding="utf-8"?>
<Content Key="e24f9612-344e-4dd8-8ed6-57dfd4893d90" Alias="keyLinkBlock:e24f9612-344e-4dd8-8ed6-57dfd4893d90" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlocka5a9f310561c44c5A8669a7a184ac2f6</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-25T11:45:47</CreateDate>
    <NodeName Default="keyLinkBlock:e24f9612-344e-4dd8-8ed6-57dfd4893d90" />
    <SortOrder>124</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>