<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e2d5513-6322-41ed-80f5-b6ff4e8c0909" Alias="keyLinksBlock:4e2d5513-6322-41ed-80f5-b6ff4e8c0909" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock4e2d5513632241ed80f5B6ff4e8c0909</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-30T13:02:35</CreateDate>
    <NodeName Default="keyLinksBlock:4e2d5513-6322-41ed-80f5-b6ff4e8c0909" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>