<?xml version="1.0" encoding="utf-8"?>
<Content Key="2555bca4-a5ea-4305-bdb7-04b8bb26cbff" Alias="keyLinksBlock:2555bca4-a5ea-4305-bdb7-04b8bb26cbff" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock2555bca4A5ea4305Bdb704b8bb26cbff</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-30T13:02:52</CreateDate>
    <NodeName Default="keyLinksBlock:2555bca4-a5ea-4305-bdb7-04b8bb26cbff" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>