<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7da3af3-66e3-41e7-b243-37e3eaf05e7d" Alias="keyLinksBlock:f7da3af3-66e3-41e7-b243-37e3eaf05e7d" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock7a70d424D5f24e5a9a8f6e2915c3e5a0</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T17:00:45</CreateDate>
    <NodeName Default="keyLinksBlock:f7da3af3-66e3-41e7-b243-37e3eaf05e7d" />
    <SortOrder>167</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/5d6afc4ecaea4025938de0be0b5ea7f1,umb://document/c3b5ecb5a36243eabb89e32186b24cc1]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>