<?xml version="1.0" encoding="utf-8"?>
<Content Key="136634be-decc-4e11-b4a6-6c4df01f97fa" Alias="keyLinkBlock:136634be-decc-4e11-b4a6-6c4df01f97fa" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockd35d2710B825484085c502cb902f561c</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-25T17:03:08</CreateDate>
    <NodeName Default="keyLinkBlock:136634be-decc-4e11-b4a6-6c4df01f97fa" />
    <SortOrder>172</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[sdvdsv]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[dvsdsvdsvdsv]]></Value>
    </url>
  </Properties>
</Content>