<?xml version="1.0" encoding="utf-8"?>
<Content Key="54d2c58c-e8db-44ba-b992-5468addb519e" Alias="keyLinksBlock:54d2c58c-e8db-44ba-b992-5468addb519e" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlocke7d03b106ae34f15B283Fdc9a52384cf</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:21:42</CreateDate>
    <NodeName Default="keyLinksBlock:54d2c58c-e8db-44ba-b992-5468addb519e" />
    <SortOrder>149</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/0c7fae0387a0485aaaf207f3f998bdf5]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>