<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee1cdbb5-6a64-4a22-8a22-ec9d464519c4" Alias="keyLinksBlock:ee1cdbb5-6a64-4a22-8a22-ec9d464519c4" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlockf83b46d6Dca94db4A53e871b718ee320</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T10:15:37</CreateDate>
    <NodeName Default="keyLinksBlock:ee1cdbb5-6a64-4a22-8a22-ec9d464519c4" />
    <SortOrder>121</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>