<?xml version="1.0" encoding="utf-8"?>
<Content Key="50748cfb-5455-4069-93e6-282f98bfe378" Alias="keyLinkBlock:50748cfb-5455-4069-93e6-282f98bfe378" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlock85a6540bC57e4356B229345788f6017c</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-27T11:47:18</CreateDate>
    <NodeName Default="keyLinkBlock:50748cfb-5455-4069-93e6-282f98bfe378" />
    <SortOrder>190</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>