<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee36a64e-2e62-48b7-a068-769458a845e6" Alias="keyLinkBlock:ee36a64e-2e62-48b7-a068-769458a845e6" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinkBlockee36a64e2e6248b7A068769458a845e6</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-05-31T00:01:57</CreateDate>
    <NodeName Default="keyLinkBlock:ee36a64e-2e62-48b7-a068-769458a845e6" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>