<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2617840-5985-4caa-b279-fc129b0c44a3" Alias="keyLinksBlock:e2617840-5985-4caa-b279-fc129b0c44a3" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock8dc58c255fd549999818F6491922bd5e</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-26T14:26:43</CreateDate>
    <NodeName Default="keyLinksBlock:e2617840-5985-4caa-b279-fc129b0c44a3" />
    <SortOrder>179</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>