<?xml version="1.0" encoding="utf-8"?>
<Content Key="53359005-e8a8-40c0-a276-f60ebe689197" Alias="keyLinksBlock:53359005-e8a8-40c0-a276-f60ebe689197" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock6eaf7ef0C35d4125B111Aa052767e239</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T16:34:55</CreateDate>
    <NodeName Default="keyLinksBlock:53359005-e8a8-40c0-a276-f60ebe689197" />
    <SortOrder>155</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/86e85cca00ae4b989c9e69eeb882bf22]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>