<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f9bc9cf-2310-4dc2-8b5a-5ef636f4ece7" Alias="keyLinksBlock:2f9bc9cf-2310-4dc2-8b5a-5ef636f4ece7" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlock73f2398dDa794b6dA57574557ea40cdb</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-25T14:45:45</CreateDate>
    <NodeName Default="keyLinksBlock:2f9bc9cf-2310-4dc2-8b5a-5ef636f4ece7" />
    <SortOrder>126</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/f2d5ebbb0b9f499e97f64228b5fabeb9,umb://document/d345d7fa67a142ba95862e0325f63d29]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>