<?xml version="1.0" encoding="utf-8"?>
<Content Key="8981764b-f8e6-432e-b349-a20d4a624ff5" Alias="keyLinksBlock:8981764b-f8e6-432e-b349-a20d4a624ff5" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/keyLinksBlockb288b047Db05455395de72eca53f2c19</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-24T12:16:31</CreateDate>
    <NodeName Default="keyLinksBlock:8981764b-f8e6-432e-b349-a20d4a624ff5" />
    <SortOrder>102</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/ce981b4f4f554dc78ab07a371a01fafd]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[Add link text here.]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>