<?xml version="1.0" encoding="utf-8"?>
<Content Key="b662af08-cc77-4140-ba99-647cfd784001" Alias="Links page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/LinksPage</Path>
    <Trashed Parent="7c9a53b0-bcd0-4ed2-bed5-bc497692a43c">true</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2022-01-25T16:47:56</CreateDate>
    <NodeName Default="Links page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockPicker>
      <Value><![CDATA[umb://document/34d462f5b019438eb41e1382a03a8593]]></Value>
    </blockPicker>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
  </Properties>
</Content>