<?xml version="1.0" encoding="utf-8"?>
<Content Key="39abd05f-b5c9-4ee8-9f39-69641b883ac2" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="966f6f5e-c76b-49fe-bd18-30ba2a649803">Key Links</Parent>
    <Path>/CMS/Groups/group3e4a64dc664a4388bc52ad950106fb30/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:04:21</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>