<?xml version="1.0" encoding="utf-8"?>
<Content Key="72fbf5d2-3074-4af5-a5f3-73b32c76e2b4" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="b612041a-65dd-46a3-8cf8-c8b7dc072328">Key Links</Parent>
    <Path>/CMS/Groups/groupd641991d710d4209b0d83b62ee8d2c42/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:07:34</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>