<?xml version="1.0" encoding="utf-8"?>
<Content Key="990780a6-8fc8-4616-9996-6f30c91ec546" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="1f96692b-0f17-4ed9-8c70-1d84afa9dd67">Key Links</Parent>
    <Path>/CMS/Templates/HomepageTemplate/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-15T01:39:50</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>