<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d62acd6-b28d-4ee8-994a-4834ca232e2b" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="f039cbce-e35a-496f-88cc-5c36b8851d58">Key Links</Parent>
    <Path>/CMS/Groups/AutomationEditableGroup/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:29:10</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>