<?xml version="1.0" encoding="utf-8"?>
<Content Key="6922cd40-0eb0-443b-866a-d2df557afb7f" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="4ed71fdd-28a7-4993-be20-87becd2e033d">Key Links</Parent>
    <Path>/CMS/Groups/groupbc200dc3bd1843d8805c04b25bca18a3/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:08:17</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>