<?xml version="1.0" encoding="utf-8"?>
<Content Key="ceb6b407-44db-49dd-a72c-cd1278ba4f7b" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="2160bcae-1bfc-4c05-8eb9-14cb00c1dd05">Key Links</Parent>
    <Path>/CMS/Groups/group412347267e934767afbeadda00f560a2/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:04:42</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>