<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad842758-8a21-456f-bd48-cd9972085f8f" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="4a3d6aba-6a3c-4845-8327-d62c84a092ad">Key Links</Parent>
    <Path>/CMS/Groups/group6d347a9026434e25bbce12d32e3e22b6/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:08:30</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>