<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab5c9551-82e7-460a-a365-77e6d68714b9" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="85dc9b3b-977c-44e8-92f8-624a8a1143c8">Key Links</Parent>
    <Path>/CMS/Groups/group8c657917b7c44aa6b4c4fbd167b61889/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:05:59</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>