<?xml version="1.0" encoding="utf-8"?>
<Content Key="73d4a6e4-6bec-475d-9875-927d6e7794da" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="ce6bf398-c56e-4f31-8334-5090edaf3039">Key Links</Parent>
    <Path>/CMS/Groups/group61de48cf686e483d84cfad95010721d3/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:04:28</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>