<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5230f23-f067-4091-8762-1408b5231e49" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="f39a89ea-21c4-499a-a256-040c628f1ffe">Key Links</Parent>
    <Path>/CMS/Groups/AutomationVisualRegressionGroup/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:28:48</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>