<?xml version="1.0" encoding="utf-8"?>
<Content Key="4926f01f-8d1d-4108-984a-ee7b02f14756" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="9eb331fa-1687-41d5-bbb3-be9378dac40e">Key Links</Parent>
    <Path>/CMS/Groups/group2d841d489753463faff2ad3a0093f48b/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:01:05</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>