<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb3e8ecb-b452-477c-91d8-8f16cf835fad" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="ce9d1994-5d6f-4880-829d-e64f2a5f3a96">Key Links</Parent>
    <Path>/CMS/Groups/groupe76b91aeB4064b74827a905f949d52a2/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T12:19:16</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>