<?xml version="1.0" encoding="utf-8"?>
<Content Key="437ccd37-3fb1-4aa2-b2c4-93837ce87ea0" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="51ade068-01c3-498f-833e-28e2533c91ad">Key Links</Parent>
    <Path>/CMS/Groups/group0c964ce6b2e4475eb0a708dc109c1468/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:08:56</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>