<?xml version="1.0" encoding="utf-8"?>
<Content Key="05aa58e9-7de3-47e2-902d-5d344227903e" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="d9f8bc82-6ae5-43c6-943a-ded085f65b30">Key Links</Parent>
    <Path>/CMS/Groups/AutoPendingGroup/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:27:55</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>