<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c3b2657-59bb-4c94-aa83-9dda42ab1d3b" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="d9f8bc82-6ae5-43c6-943a-ded085f65b30">Key Links</Parent>
    <Path>/CMS/Groups/AutoPendingGroup/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:27:55</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>