<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1d59af4-c331-4d8f-8a91-8dc06479a03d" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="074a59fe-fbb6-42e5-9ffa-0d6c56ffd48a">Key Links</Parent>
    <Path>/CMS/Groups/AutomationAdminGroup/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:33:28</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>