<?xml version="1.0" encoding="utf-8"?>
<Content Key="d39a2b8f-282a-4557-a5f7-ae3a3c93d30d" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="3c8e54d2-97b5-4d0a-b5ee-f56fc502ef6f">Key Links</Parent>
    <Path>/CMS/Groups/group7a016eba0d3c4452a0aa07b02beb57fb/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:05:33</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>