<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0b16c9c-c892-4bc8-80a9-4edc7911c2eb" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="806803b6-edaa-4399-90fd-90286a4d4e3c">Key Links</Parent>
    <Path>/CMS/Groups/groupb1e1a24656a2483eb64b83cb2a9e0fe4/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:07:44</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>