<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa357220-c338-49fd-8e0e-d8035da5c42a" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="1f96692b-0f17-4ed9-8c70-1d84afa9dd67">Key Links</Parent>
    <Path>/CMS/Templates/HomepageTemplate/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-15T01:40:02</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>