<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc5a447a-75a1-41ae-bc13-cac26455939f" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="85dc9b3b-977c-44e8-92f8-624a8a1143c8">Key Links</Parent>
    <Path>/CMS/Groups/group8c657917b7c44aa6b4c4fbd167b61889/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:05:59</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>