<?xml version="1.0" encoding="utf-8"?>
<Content Key="51ca9875-8799-4b0b-b02c-3b8b71993c09" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="8c49241a-7c6f-4233-a6cd-173c7f478555">Key Links</Parent>
    <Path>/CMS/Groups/AutomationGroupToBeRestricted/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:29:19</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>