<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cb777e0-eb19-4171-86d7-028a53373d04" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="ce9d1994-5d6f-4880-829d-e64f2a5f3a96">Key Links</Parent>
    <Path>/CMS/Groups/groupe76b91aeB4064b74827a905f949d52a2/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T12:19:16</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>