<?xml version="1.0" encoding="utf-8"?>
<Content Key="49c0d800-a6f1-4265-8fbf-0ed931500363" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="74fe94ce-1d53-43b9-90c3-d7610f5deff5">Key Links</Parent>
    <Path>/CMS/Groups/groupb8c36360ecbe4adea3c2adfd00f01faf/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:05:05</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>