<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bbf1cff-0bdf-48df-b463-fad06841cbab" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="f13f6846-608a-4bbe-83af-70c138e57959">Key Links</Parent>
    <Path>/CMS/Groups/group1d39ae7c6348413aa7a9f895ff7dacfd/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:06:12</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>