<?xml version="1.0" encoding="utf-8"?>
<Content Key="88058143-736a-48be-97b0-890964313c2b" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="4a3d6aba-6a3c-4845-8327-d62c84a092ad">Key Links</Parent>
    <Path>/CMS/Groups/group6d347a9026434e25bbce12d32e3e22b6/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:08:29</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>