<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5b64bfd-bc96-4983-a3d4-b845ba8d6a01" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="3c8e54d2-97b5-4d0a-b5ee-f56fc502ef6f">Key Links</Parent>
    <Path>/CMS/Groups/group7a016eba0d3c4452a0aa07b02beb57fb/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:05:33</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>