<?xml version="1.0" encoding="utf-8"?>
<Content Key="13e83888-42bc-4b8b-9a23-4cea6ba1378b" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="395fbc33-06bb-489c-9d8e-d69a8741fa79">Key Links</Parent>
    <Path>/CMS/Groups/groupaada5a39b2c446578a69087a100136f2/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:05:46</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>