<?xml version="1.0" encoding="utf-8"?>
<Content Key="c228ccf4-7c6d-4585-af72-b5fee62f9489" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="8c49241a-7c6f-4233-a6cd-173c7f478555">Key Links</Parent>
    <Path>/CMS/Groups/AutomationGroupToBeRestricted/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:29:19</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>