<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d011dd3-bd3b-4b70-a018-69eee203a02a" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="e94e7b70-662b-444d-958d-05e292eac729">Key Links</Parent>
    <Path>/CMS/Groups/group1f165046f9ea4461a14fbc8df121ca6e/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:33:01</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>