<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba63d89a-b195-4308-9ab3-7c1e45a09a73" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="51ade068-01c3-498f-833e-28e2533c91ad">Key Links</Parent>
    <Path>/CMS/Groups/group0c964ce6b2e4475eb0a708dc109c1468/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:08:56</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>