<?xml version="1.0" encoding="utf-8"?>
<Content Key="b95fa59c-d01e-4576-b36e-0badc7d06938" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="739adaf0-d5f6-447b-a93a-8defb5070674">Key Links</Parent>
    <Path>/CMS/Groups/AutomationPrivateGroup/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:28:11</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>