<?xml version="1.0" encoding="utf-8"?>
<Content Key="93bebbe3-172d-4ac5-aaba-0b136054b980" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="395fbc33-06bb-489c-9d8e-d69a8741fa79">Key Links</Parent>
    <Path>/CMS/Groups/groupaada5a39b2c446578a69087a100136f2/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:05:46</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>