<?xml version="1.0" encoding="utf-8"?>
<Content Key="edea90c5-cc93-44eb-b45d-e8e6d464d7f1" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="f55c7087-189a-4a53-95cc-e855fcacddfa">Key Links</Parent>
    <Path>/CMS/Groups/group545217e2b5fe4b46ba6Fbcac2192fbf/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:08:38</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>