<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c65c1ca-a044-49e2-bd0a-eb327c7a3484" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="e31cc226-7c6c-4f24-a1bf-8fd5b56b3eeb">Key Links</Parent>
    <Path>/CMS/Groups/group0d1ea1e083f9491fb99aad4000df7f09/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:04:06</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>