<?xml version="1.0" encoding="utf-8"?>
<Content Key="2da440e2-1766-441a-8f6d-e11c051f0d55" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="739adaf0-d5f6-447b-a93a-8defb5070674">Key Links</Parent>
    <Path>/CMS/Groups/AutomationPrivateGroup/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T14:28:11</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>