<?xml version="1.0" encoding="utf-8"?>
<Content Key="76e95f95-cc4e-4626-8075-b7a8f883934c" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="4ed71fdd-28a7-4993-be20-87becd2e033d">Key Links</Parent>
    <Path>/CMS/Groups/groupbc200dc3bd1843d8805c04b25bca18a3/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:08:17</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>