<?xml version="1.0" encoding="utf-8"?>
<Content Key="e48cf0af-a392-40c9-9c97-6300d34991b5" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="806803b6-edaa-4399-90fd-90286a4d4e3c">Key Links</Parent>
    <Path>/CMS/Groups/groupb1e1a24656a2483eb64b83cb2a9e0fe4/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-20T13:07:44</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>