<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ff8db24-fe1f-428b-a742-1b4bb2a7c00f" Alias="Placeholder Blocks" Level="3">
  <Info>
    <Parent Key="19cc43a0-809e-4487-a236-7f51fad48212">Placeholder Blocks Container</Parent>
    <Path>/CMS/PlaceholderBlocksContainer/PlaceholderBlocks</Path>
    <Trashed>false</Trashed>
    <ContentType>placeholderBlocksFolder</ContentType>
    <CreateDate>2022-05-26T12:07:05</CreateDate>
    <NodeName Default="Placeholder Blocks" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>