<?xml version="1.0" encoding="utf-8"?>
<Content Key="19cc43a0-809e-4487-a236-7f51fad48212" Alias="Placeholder Blocks Container" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">CMS</Parent>
    <Path>/CMS/PlaceholderBlocksContainer</Path>
    <Trashed>false</Trashed>
    <ContentType>generalFolder</ContentType>
    <CreateDate>2022-05-26T12:16:21</CreateDate>
    <NodeName Default="Placeholder Blocks Container" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>