<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ff8db24-fe1f-428b-a742-1b4bb2a7c00f" Alias="Placeholder Blocks" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">CMS</Parent>
    <Path>/CMS/PlaceholderBlocks</Path>
    <Trashed>false</Trashed>
    <ContentType>placeholderBlocksFolder</ContentType>
    <CreateDate>2022-05-26T12:07:05</CreateDate>
    <NodeName Default="Placeholder Blocks" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>