<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa34d2cb-76e9-452c-8e94-4efe9bcf76e8" Alias="Postman Page Updated Test" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Pages Folder</Parent>
    <Path>/Home/PagesFolder/PostmanPageUpdatedTest</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-01-21T12:42:54</CreateDate>
    <NodeName Default="Postman Page Updated Test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Test description updated]]></Value>
    </description>
    <pageContent>
      <Value><![CDATA[{ "blocks": {
        "testblocks"
    }]]></Value>
    </pageContent>
    <title>
      <Value><![CDATA[Postman Page Updated Test]]></Value>
    </title>
  </Properties>
</Content>