<?xml version="1.0" encoding="utf-8"?>
<Content Key="34d462f5-b019-438e-b41e-1382a03a8593" Alias="Rich Text Block" Level="3">
  <Info>
    <Parent Key="1fb7c306-baa1-4ae3-a7b4-0c06c2eb3fd4">Blocks Folder</Parent>
    <Path>/Home/BlocksFolder/RichTextBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>richTextBlock</ContentType>
    <CreateDate>2022-01-25T14:37:43</CreateDate>
    <NodeName Default="Rich Text Block" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <text>
      <Value><![CDATA[<p>This is a test.</p>]]></Value>
    </text>
    <title>
      <Value><![CDATA[Rich Text Block]]></Value>
    </title>
  </Properties>
</Content>