<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ffeeb7b-afe6-4e83-aea5-25dab93dda45" Alias="Rich's Group" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/RichsGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-04-21T10:31:09</CreateDate>
    <NodeName Default="Rich's Group" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/e804cf100c7f45e7b75fd64ebfd327dc,umb://document/6e44538637c14a94bae2ed36d1fea4a9,umb://document/254c2d2649614c9bb9c99926b8ce199c]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[This is the homepage.]]></Value>
    </description>
    <title>
      <Value><![CDATA[Homepage]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>