<?xml version="1.0" encoding="utf-8"?>
<Content Key="72e10c96-69e7-4659-b5e0-762abf57c12c" Alias="Rich's child page" Level="4">
  <Info>
    <Parent Key="1ffeeb7b-afe6-4e83-aea5-25dab93dda45">Rich's Group</Parent>
    <Path>/Home/Groups/RichsGroup/RichsChildPage</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-04-21T13:56:05</CreateDate>
    <NodeName Default="Rich's child page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[A child page.]]></Value>
    </description>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <title>
      <Value><![CDATA[Rich's child page]]></Value>
    </title>
  </Properties>
</Content>