<?xml version="1.0" encoding="utf-8"?>
<Content Key="88ca93e6-c333-4874-ab8a-c2590ff0705b" Alias="Swagger Page Updated Test" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Pages Folder</Parent>
    <Path>/Home/PagesFolder/SwaggerPageUpdatedTest</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-01-21T12:39:53</CreateDate>
    <NodeName Default="Swagger Page Updated Test" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[This is a test description updated with swagger]]></Value>
    </description>
    <pageContent>
      <Value><![CDATA[{
  "blocks": "testblock,
}]]></Value>
    </pageContent>
    <title>
      <Value><![CDATA[Swagger Page Updated Test]]></Value>
    </title>
  </Properties>
</Content>