<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c9a53b0-bcd0-4ed2-bed5-bc497692a43c" Alias="Templates" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">CMS</Parent>
    <Path>/CMS/Templates</Path>
    <Trashed>false</Trashed>
    <ContentType>templateFolder</ContentType>
    <CreateDate>2022-01-25T14:37:23</CreateDate>
    <NodeName Default="Templates" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>