<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b70328c-0a6e-4169-9ffb-49e8600209db" Alias="test child 2" Level="5">
  <Info>
    <Parent Key="af66fe7c-8e3b-4790-a3eb-e0847cf8599a">test child 1</Parent>
    <Path>/Home/Groups/Group1/testChild1/testChild2</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-02-22T14:00:05</CreateDate>
    <NodeName Default="test child 2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[test]]></Value>
    </description>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <title>
      <Value><![CDATA[test]]></Value>
    </title>
  </Properties>
</Content>