<?xml version="1.0" encoding="utf-8"?>
<Content Key="af66fe7c-8e3b-4790-a3eb-e0847cf8599a" Alias="test child 1" Level="4">
  <Info>
    <Parent Key="a9dd36f6-2cf7-4555-a4da-5ffcffb14869">Group 1</Parent>
    <Path>/Home/Groups/Group1/testChild1</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-02-22T13:59:51</CreateDate>
    <NodeName Default="test child 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[test]]></Value>
    </description>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <title>
      <Value><![CDATA[This is the page title]]></Value>
    </title>
  </Properties>
</Content>