<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9bad6c6-f7a4-45f4-854e-e6733ccd8973" Alias="textBlock:e9bad6c6-f7a4-45f4-854e-e6733ccd8973" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/textBlock7ebc8e3b3da343e9A1eeC6cdf9083816</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-05-27T11:40:28</CreateDate>
    <NodeName Default="textBlock:e9bad6c6-f7a4-45f4-854e-e6733ccd8973" />
    <SortOrder>184</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>