<?xml version="1.0" encoding="utf-8"?>
<Content Key="301c1a31-8d62-4045-aa79-012f20ff429c" Alias="Text and Image Block (Placeholder)" Level="3">
  <Info>
    <Parent Key="1fb7c306-baa1-4ae3-a7b4-0c06c2eb3fd4">Blocks Folder</Parent>
    <Path>/Home/BlocksFolder/TextAndImageBlockPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>textImageBlock</ContentType>
    <CreateDate>2022-01-27T14:26:52</CreateDate>
    <NodeName Default="Text and Image Block (Placeholder)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <imageUrl>
      <Value><![CDATA[Add image URL here.]]></Value>
    </imageUrl>
    <text>
      <Value><![CDATA[Add text here.]]></Value>
    </text>
  </Properties>
</Content>