<?xml version="1.0" encoding="utf-8"?>
<Content Key="6eed3719-fbfe-441f-a233-1270c2b03255" Alias="textBlock:6eed3719-fbfe-441f-a233-1270c2b03255" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/textBlockeba0d09677c1481b9d258f0a550c8e07</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-05-27T12:06:13</CreateDate>
    <NodeName Default="textBlock:6eed3719-fbfe-441f-a233-1270c2b03255" />
    <SortOrder>195</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>