<?xml version="1.0" encoding="utf-8"?>
<Content Key="5eb5d658-e4b2-45a5-a53c-1fc58c0149e4" Alias="Text Block (Placeholder)" Level="3">
  <Info>
    <Parent Key="9ff8db24-fe1f-428b-a742-1b4bb2a7c00f">Placeholder Blocks</Parent>
    <Path>/CMS/PlaceholderBlocks/TextBlockPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-04-05T10:16:32</CreateDate>
    <NodeName Default="Text Block (Placeholder)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[<p>Add the main text here.</p>]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Add the title here]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>