<?xml version="1.0" encoding="utf-8"?>
<Content Key="902c1c07-46fd-4045-bf15-6a4aa14b1f15" Alias="textBlock:902c1c07-46fd-4045-bf15-6a4aa14b1f15" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/textBlock902c1c0746fd4045Bf156a4aa14b1f15</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-05-30T13:02:47</CreateDate>
    <NodeName Default="textBlock:902c1c07-46fd-4045-bf15-6a4aa14b1f15" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>