<?xml version="1.0" encoding="utf-8"?>
<Content Key="04e87748-bd1f-4fce-a3ae-2b2eb89b62a6" Alias="textBlock:04e87748-bd1f-4fce-a3ae-2b2eb89b62a6" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/textBlocke8663e8b26164c6e87ea47d6314bb1ca</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-05-27T11:42:36</CreateDate>
    <NodeName Default="textBlock:04e87748-bd1f-4fce-a3ae-2b2eb89b62a6" />
    <SortOrder>187</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>