<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9842ae1-7a30-459c-b9d9-e682f4a92ef3" Alias="textBlock:c9842ae1-7a30-459c-b9d9-e682f4a92ef3" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/textBlockc9842ae17a30459cB9d9E682f4a92ef3</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-05-30T23:52:48</CreateDate>
    <NodeName Default="textBlock:c9842ae1-7a30-459c-b9d9-e682f4a92ef3" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[<p>&nbsp;woohoo Add the main text here.2</p>]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Add the title here. weyhey2]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>