<?xml version="1.0" encoding="utf-8"?>
<Content Key="0486a587-88d3-4eb0-8c3d-31136e0dda09" Alias="todo:dontsendoncenotrequired (13)" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/tododontsendoncenotrequired13</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-13T16:19:20</CreateDate>
    <NodeName Default="todo:dontsendoncenotrequired (13)" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/254c2d2649614c9bb9c99926b8ce199c,umb://document/e804cf100c7f45e7b75fd64ebfd327dc,umb://document/0486a58788d34eb08c3d31136e0dda09,umb://document/3ab908d802c9405f94c1a039abf79938]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[Add link text here.]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>