<?xml version="1.0" encoding="utf-8"?>
<Content Key="df8a945c-34ea-4b57-8a99-0d4f57f9f177" Alias="todo:dontsendoncenotrequired (18)" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/tododontsendoncenotrequired18</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-13T16:42:34</CreateDate>
    <NodeName Default="todo:dontsendoncenotrequired (18)" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/254c2d2649614c9bb9c99926b8ce199c,umb://document/e804cf100c7f45e7b75fd64ebfd327dc,umb://document/df8a945c34ea4b578a990d4f57f9f177]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[Add link text here.]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>