<?xml version="1.0" encoding="utf-8"?>
<Content Key="409ff8dc-70fa-43d1-acbc-5f4b44f06ffb" Alias="todo:dontsendoncenotrequired (20)" Level="3">
  <Info>
    <Parent Key="3e7e64ff-a317-44a7-8628-4af58f0ccddf">Blocks Data Source</Parent>
    <Path>/CMS/BlocksDataSource/tododontsendoncenotrequired20</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-05-13T16:50:55</CreateDate>
    <NodeName Default="todo:dontsendoncenotrequired (20)" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/254c2d2649614c9bb9c99926b8ce199c,umb://document/e804cf100c7f45e7b75fd64ebfd327dc,umb://document/409ff8dc70fa43d1acbc5f4b44f06ffb]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[Add link text here.]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>