<?xml version="1.0" encoding="utf-8"?>
<Content Key="59486444-77a3-48c5-b8f5-6d90dd7e73ab" Alias="Welcome to FutureNHS" Level="4">
  <Info>
    <Parent Key="51431a7a-0b2f-41f5-8341-8c4585e43136">group:2d841d489753463faff2ad3a0093f48b</Parent>
    <Path>/CMS/Groups/group2d841d489753463faff2ad3a0093f48b/WelcomeToFutureNHS</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-20T12:57:55</CreateDate>
    <NodeName Default="Welcome to FutureNHS" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[A platform from the NHS, helping the health and social care sector connect and collaborate]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Welcome to FutureNHS]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>