<?xml version="1.0" encoding="utf-8"?>
<Content Key="de727dd0-2c3e-474a-831c-b79e0d15de36" Alias="Welcome to FutureNHS" Level="4">
  <Info>
    <Parent Key="300afd39-dae4-4690-a68b-6bbbef067200">group:1d39ae7c6348413aa7a9f895ff7dacfd</Parent>
    <Path>/CMS/Groups/group1d39ae7c6348413aa7a9f895ff7dacfd/WelcomeToFutureNHS</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-20T13:01:37</CreateDate>
    <NodeName Default="Welcome to FutureNHS" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[A platform from the NHS, helping the health and social care sector connect and collaborate]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Welcome to FutureNHS]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>