<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ec81bfa-c337-4e41-a1b9-7b7551065b9e" Alias="Welcome to FutureNHS" Level="4">
  <Info>
    <Parent Key="768e10cf-f460-4b73-b2e3-d80ebdf221a8">AutoPendingGroup</Parent>
    <Path>/CMS/Groups/AutoPendingGroup/WelcomeToFutureNHS</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-20T14:27:47</CreateDate>
    <NodeName Default="Welcome to FutureNHS" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[A platform from the NHS, helping the health and social care sector connect and collaborate]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Welcome to FutureNHS]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>