<?xml version="1.0" encoding="utf-8"?>
<Content Key="899e9725-f9df-4d19-9a06-cbf094b53276" Alias="Welcome to FutureNHS" Level="4">
  <Info>
    <Parent Key="b1d86638-3a50-4d03-ada4-676b200deef4">group:aada5a39b2c446578a69087a100136f2</Parent>
    <Path>/CMS/Groups/groupaada5a39b2c446578a69087a100136f2/WelcomeToFutureNHS</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-20T13:00:38</CreateDate>
    <NodeName Default="Welcome to FutureNHS" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[A platform from the NHS, helping the health and social care sector connect and collaborate]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Welcome to FutureNHS]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>