<?xml version="1.0" encoding="utf-8"?>
<Content Key="c78026d6-0372-4fb5-a351-56b027892a89" Alias="Welcome to FutureNHS" Level="4">
  <Info>
    <Parent Key="e140f61c-cb4b-41e0-a80d-5565cbd0259e">Automation Group To Be Restricted</Parent>
    <Path>/CMS/Groups/AutomationGroupToBeRestricted/WelcomeToFutureNHS</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-20T14:29:02</CreateDate>
    <NodeName Default="Welcome to FutureNHS" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[A platform from the NHS, helping the health and social care sector connect and collaborate]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Welcome to FutureNHS]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>