<?xml version="1.0" encoding="utf-8"?>
<Content Key="c896705a-571f-46dd-b14e-fc2e48bff5e2" Alias="Welcome to FutureNHS" Level="4">
  <Info>
    <Parent Key="b02eaec7-4de7-46e5-bfa5-a8632979cb5e">group:b7be793e0bf246e8aa16019f53bf0e62</Parent>
    <Path>/CMS/Groups/groupb7be793e0bf246e8aa16019f53bf0e62/WelcomeToFutureNHS</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-20T13:02:35</CreateDate>
    <NodeName Default="Welcome to FutureNHS" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[A platform from the NHS, helping the health and social care sector connect and collaborate]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Welcome to FutureNHS]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>