<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="128cc0b7-a98e-4711-a14e-1e3cfb21ed23" Alias="blocksFolder" Level="3">
  <Info>
    <Name>Blocks Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This folder contains all available blocks</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>FutureNHSPageBuilder/Blocks+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ce9e23a2-3fed-4448-bd5f-8b40377901af" SortOrder="0">keyLinkBlock</ContentType>
    <ContentType Key="dc63facf-a096-47f9-bd39-9a39005dcbdd" SortOrder="1">textImageBlock</ContentType>
    <ContentType Key="a108b44e-23ac-428a-8c72-a68d83c4a69b" SortOrder="2">gridsFolder</ContentType>
    <ContentType Key="bff97a54-375f-4206-808d-ea8002f64f07" SortOrder="3">textBlock</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>