<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1f2cce5-b5e3-41c3-a0e4-2862b42682b0" Alias="blocksMisc" Level="3">
  <Info>
    <Name>Blocks Misc</Name>
    <Icon>icon-folder color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Any placeholder items to build out placeholders</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>FutureNHSPageBuilder/Blocks+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ce9e23a2-3fed-4448-bd5f-8b40377901af" SortOrder="0">keyLinkBlock</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>