<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8c40fe8a-278e-45f3-9b2b-a1e41a335603" Alias="generalFolder" Level="2">
  <Info>
    <Name>General Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>FutureNHSPageBuilder</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a108b44e-23ac-428a-8c72-a68d83c4a69b" SortOrder="0">gridsFolder</ContentType>
    <ContentType Key="128cc0b7-a98e-4711-a14e-1e3cfb21ed23" SortOrder="1">placeholderBlocksFolder</ContentType>
    <ContentType Key="21c787a6-2356-41e9-9f4b-82910f3eefae" SortOrder="2">groupsFolder</ContentType>
    <ContentType Key="db76f401-797d-44d4-8afc-3029af448614" SortOrder="5">templateFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>