<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="19456899-e379-4c79-ae98-ac6adf63bd72" Alias="generalWebPage" Level="3">
  <Info>
    <Name>General Web Page</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Web page content item</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>FutureNHSPageBuilder/Groups+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="19456899-e379-4c79-ae98-ac6adf63bd72" SortOrder="0">generalWebPage</ContentType>
    <ContentType Key="437c63a7-d6f5-416a-8e3b-5f9590f94e5d" SortOrder="1">keyLinksBlock</ContentType>
    <ContentType Key="bff97a54-375f-4206-808d-ea8002f64f07" SortOrder="2">textBlock</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>39278569-4d81-4754-8605-9770b05d64d3</Key>
      <Name>Customizable</Name>
      <Alias>customizable</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>72424980-75a2-4af2-a37b-eae21b864ac2</Key>
      <Name>UserEditing</Name>
      <Alias>userEditing</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The user who is currently editing the page]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0a2d270c-2d6e-4008-9011-509297c2e4ed</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>