<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a108b44e-23ac-428a-8c72-a68d83c4a69b" Alias="gridsFolder" Level="3">
  <Info>
    <Name>Grids Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>FutureNHSPageBuilder/Grids+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="bdcd7a6c-a78f-4329-8437-bf5b3514a4a3" SortOrder="0">grid</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>