<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bdcd7a6c-a78f-4329-8437-bf5b3514a4a3" Alias="grid" Level="3">
  <Info>
    <Name>Grid</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>FutureNHSPageBuilder/Grids+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="bdcd7a6c-a78f-4329-8437-bf5b3514a4a3" SortOrder="0">grid</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>11db4f57-7c01-420a-91bd-4df89539fc5b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>