<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="21c787a6-2356-41e9-9f4b-82910f3eefae" Alias="groupsFolder" Level="3">
  <Info>
    <Name>Groups Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The folder to contain the web pages</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>FutureNHSPageBuilder/Web+Page+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="19456899-e379-4c79-ae98-ac6adf63bd72" SortOrder="0">generalWebPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>