<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ce9e23a2-3fed-4448-bd5f-8b40377901af" Alias="keyLinkBlock" Level="3">
  <Info>
    <Name>Key Link Block</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A block with key links</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>FutureNHSPageBuilder/Blocks+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b2704610-03a4-44f5-8722-0412219ad14e</Key>
      <Name>Link Text 1</Name>
      <Alias>linkText1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link text 1]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>80c6268b-5e91-4415-857a-fc0d5409d0d4</Key>
      <Name>Link Text 2</Name>
      <Alias>linkText2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link text 2]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f556bfc9-6208-4bd7-a432-244e84213d84</Key>
      <Name>Link Text 3</Name>
      <Alias>linkText3</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link text 3]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88d2ad0f-aaf9-42e3-8bea-29a0d3fbea86</Key>
      <Name>Link Url 1</Name>
      <Alias>linkUrl1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link URL 1]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e84ada3-3901-4d73-8b9e-5ddeaa546647</Key>
      <Name>Link Url 2</Name>
      <Alias>linkUrl2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link URL 2]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fbf897f1-f1f7-445f-8f4e-cc3015018fd3</Key>
      <Name>Link Url 3</Name>
      <Alias>linkUrl3</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link URL 3]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7b707afd-0214-467e-bc20-9956917da881</Key>
      <Caption>Content</Caption>
      <Alias>content1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>