<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="128cc0b7-a98e-4711-a14e-1e3cfb21ed23" Alias="placeholderBlocksFolder" Level="3">
  <Info>
    <Name>Placeholder Blocks Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This folder contains all placeholder blocks</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>FutureNHSPageBuilder/Blocks+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="437c63a7-d6f5-416a-8e3b-5f9590f94e5d" SortOrder="0">keyLinksBlock</ContentType>
    <ContentType Key="ce9e23a2-3fed-4448-bd5f-8b40377901af" SortOrder="1">keyLinkBlock</ContentType>
    <ContentType Key="dc63facf-a096-47f9-bd39-9a39005dcbdd" SortOrder="2">textImageBlock</ContentType>
    <ContentType Key="bff97a54-375f-4206-808d-ea8002f64f07" SortOrder="3">textBlock</ContentType>
    <ContentType Key="a108b44e-23ac-428a-8c72-a68d83c4a69b" SortOrder="4">gridsFolder</ContentType>
    <ContentType Key="c1f2cce5-b5e3-41c3-a0e4-2862b42682b0" SortOrder="5">blocksMisc</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>