<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="db76f401-797d-44d4-8afc-3029af448614" Alias="templateFolder" Level="3">
  <Info>
    <Name>Template Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The folder to contain templates</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>FutureNHSPageBuilder/Templates+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2b52b808-b817-4fc9-8e22-f49187afc1cd" SortOrder="0">template</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>