.c-content-block {

    &--editable {
        border: 2px solid $color_nhsuk-grey-2;
        background-color: $color_nhsuk-grey-5;
    }

    &_header {
        display: flex;
        justify-content: space-between;
        padding: $nhsuk-spacing-point-4 $nhsuk-spacing-point-5;
        color: $white;
        background-color: $color_nhsuk-grey-2;
    }

    &_body {

        &--editable {
            padding: $nhsuk-spacing-point-6 $nhsuk-spacing-point-5;
        }
    }

    &_header-button {
        @include standard-text;
        display: flex;
        align-items: center;
        color: $white;

        &:hover {
            color: $white;
        }

        &:focus {
            &:hover {
                color: $nhsuk-focus-text-color;
            }
        }
    }
}
