@using MvcForum.Web.ViewModels.Shared

<h3 class="u-margin-top-spacing-6">
    <code>_ViewFile.cshtml</code>
</h3>

<div>
    <h2>
        Title of file here
    </h2>
    <hr>

    <p>
        The description of the file added by the user when uploading the document. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <p>
        <span class="">Owner</span> 
        <a href="#" class="">Jane Richardson</a>
    </p>

    <div class="c-grid-block">
        <div class="c-grid-block_item l-col-12">
            <div class="u-padding-top-spacing-2 u-padding-bottom-spacing-2 u-margin-bottom-spacing-5 u-bg-theme-1">
                <table role="table" class="c-table c-table--files">
                    <caption class="c-table_caption u-visually-hidden">
                        Caption text title
                    </caption>
                    <thead role="rowgroup" class="c-table_head">
                        <tr role="row">
                            <th role="columnheader" class="c-table_th" scope="col">
                                Name
                            </th>
                            <th role="columnheader" class="c-table_th" scope="col">
                                Modified by
                            </th>
                            <th role="columnheader" class="c-table_th" scope="col">
                                Last updated
                            </th>
                            <th role="columnheader" class="c-table_th" scope="col">
                                Download 
                            </th>
                        </tr>
                    </thead>
                    <tbody class="c-table_body">
                        <tr role="row" class="c-table_row">
                            <td role="cell" class="c-table_cell">
                                <span class="c-table_heading">Name </span>
                                <a href="#" class="">Folder name here #1</a>
                            </td>
                            <td role="cell" class="c-table_cell">
                                <span class="c-table_heading">Modified by</span>
                                <a href="#" class="">Jane Richardson</a>
                            </td>
                            <td role="cell" class="c-table_cell">
                                <span class="c-table_heading">Last updated</span>
                                <span>5 hours ago</span>
                            </td>
                            <td role="cell" class="c-table_cell">
                                <span class="c-table_heading">Download</span>
                                <a href="#" class="">
                                    @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-download", "c-card_header-social-icon u-fill-theme-8"));}
                                    <span>Download</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>