// NHS colour variables
@import 'node_modules/nhsuk-frontend/packages/core/settings/_colours.scss';


$black: rgba(0, 0, 0, 1);
$black-tint: rgba(0, 0, 0, .1);
$mid-grey: rgba(112, 112, 112, 1);
$light-grey: rgba(246, 246, 246, 1);
$white: rgba(255, 255, 255, 1);
$night-blue: rgba(19, 28, 66, 1);
$dark-blue: rgba(18, 74, 135, 1);
$digital-water-blue: rgba(36, 65, 229, 1);
$sky-blue: rgba(207, 237, 252, 1);
$aqua: rgba(88, 182, 210, 1);
$grass: rgba(80, 173, 152, 1);
$green: rgba(73, 167, 0, 1);
$green-tint: rgba(73, 167, 0, .2);
$buttercup: rgba(238, 183, 68, 1);
$coral: rgba(222, 110, 104, 1);
$coral-tint: rgba(222, 110, 104, .2);

// :export {

// }
