// Heading sizes
$h1-line-height-mobile: 40px;
$h1-font-size-mobile: 32px;
$h1-line-height-tablet: 56px;
$h1-font-size-tablet: 48px;
$h1-line-height-desktop: 56px;
$h1-font-size-desktop: 48px;

$h2-line-height-mobile: 32px;
$h2-font-size-mobile: 24px;
$h2-line-height-tablet: 40px;
$h2-font-size-tablet: 32px;
$h2-line-height-desktop: 40px;
$h2-font-size-desktop: 32px;

$h3-line-height-mobile: 28px;
$h3-font-size-mobile: 20px;
$h3-line-height-tablet: 32px;
$h3-font-size-tablet: 24px;
$h3-line-height-desktop: 32px;
$h3-font-size-desktop: 24px;

$h4-line-height-mobile: 28px;
$h4-font-size-mobile: 18px;
$h4-line-height-tablet: 32px;
$h4-font-size-tablet: 22px;
$h4-line-height-desktop: 32px;
$h4-font-size-desktop: 22px;

$h5-line-height-mobile: 28px;
$h5-font-size-mobile: 24px;
$h5-line-height-tablet: 28px;
$h5-font-size-tablet: 19px;
$h5-line-height-desktop: 32px;
$h5-font-size-desktop: 28px;

$h6-line-height-mobile: 28px;
$h6-font-size-mobile: 20px;
$h6-line-height-tablet: 30px;
$h6-font-size-tablet: 22px;
$h6-line-height-desktop: 32px;
$h6-font-size-desktop: 24px;

$regular-heading-line-height: 48px;
$regular-heading-font-size: 40px;

$medium-heading-line-height: 40px;
$medium-heading-font-size: 32px;

$small-heading-line-height: 24px;
$small-heading-font-size: 16px;

$hero-banner-body-line-height: 32px;
$hero-banner-body-font-size: 22px;

$small-text-line-height: 18px;
$small-text: 12px;
$base-font-size-line-height: 21px;
$base-font-size: 14px;
$large-text-line-height: 24px;
$large-text: 16px;
$very-large-text-line-height: 32px;
$very-large-text: 18px;
