.c-tabbed-nav {
    border-top: 2px $white solid;

    @include respond-to(desktop) {
        margin-top: auto;
    }

    &_mobile-trigger {
        position: relative;
        border: 4px solid transparent;
        padding: 14px $nhsuk-spacing-point-3;

        &:active {
            top: auto;
        }

        @include respond-to(desktop) {
            display: none;
        }

        &--right {
            right: $spacer-xsm;
        }
    }

    &_trigger-icon {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &_list {
        margin-bottom: 0;
    }

    &_item {
        display: block;

        @include respond-to(desktop) {
            margin-bottom: 0;
            margin-right: 30px;
            display: inline-block;
        }
    }

    &_item-icon {
        width: 18px;
        height: 19px;
        display: inline-block;
        margin-right: 5px;
    }

    &_link {
        @include nhsuk-link-style-white;
        text-decoration: none;
        display: block;
        // display: inline-block;
        padding: 14px $nhsuk-spacing-point-3;
        box-shadow: 0 5px transparent;
        margin-bottom: 4px;

        &--active {
            @include respond-to(desktop) {
                box-shadow: 0 5px $white;
            }
        }
    }
}
