<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca0a2d59-e455-472d-bf9e-5e7303f55ab1" Alias="Homepage Template" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomepageTemplate</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2022-05-31T00:28:40</CreateDate>
    <NodeName Default="Homepage Template" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[umb://document/5eb5d658e4b245a5a53c1fc58c0149e4,umb://document/c99fd676d81f4070beac0fad12b03fa1]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
  </Properties>
</Content>