.c-table {
    @include standard-text;
    width: 100%;
    margin-bottom: $spacer-xsm;

    &_caption {
        @include regular-heading;
        font-weight: $nhsuk-font-bold;
        color: $black;
    }

    &_head {
        @include visually-hidden;
        font-weight: $nhsuk-font-bold;
        border-width: $spacer-sm;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: $white;

        @include respond-to(desktop) {
            position: relative !important; //sass-lint:disable-line no-important
            top: unset;
            left: unset;
        }
    }

    &_th {
        padding-bottom: $spacer-xsm;
        padding-left: $spacer-rg;
    }

    &_heading {
        @include small-heading;
        font-weight: $nhsuk-font-bold;
        text-align: left;

        @include respond-to(desktop) {
            display: none;
        }
    }

    &_body {
        border-width: $spacer-xsm;
        border-style: solid;
        border-color: $white;

        @include respond-to(desktop) {
            border-width: $spacer-sm;
        }
    }

    &_row {
        display: table-row;
        background-color: $t-table-row-background-one;

        @include respond-to(desktop) {
            display: table-row;

            &:nth-child(odd) {
                background-color: $t-table-row-background-two;
            }
        }
    }

    &_cell {
        display: flex;
        justify-content: space-between;
        padding: $nhsuk-spacing-point-2 $spacer-xsm;
        text-align: right;

        &:first-of-type {
            background-color: $t-table-row-background-two;
        }

        @include respond-to(desktop) {
            text-align: left;
            display: table-cell;
            padding-right: 0;
            padding: $nhsuk-spacing-point-2 $spacer-rg;

            &:first-of-type {
                background-color: transparent;
            }
        }

        &--edit {
            display: block;
            text-align: left;
        }
    }
}
