// sass-lint:disable force-element-nesting, no-combinators, no-duplicate-properties class-name-format
.c-textarea,
.c-form-group .tox-tinymce {
    @include standard-text;
    -webkit-appearance: none;
    border: $nhsuk-border-width-form-element solid $nhsuk-form-border-color;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    padding: $nhsuk-spacing-point-1;
    resize: vertical;
    width: 100%;
    min-height: 200px;

    &:focus {
        @include nhsuk-focused-input;
    }
}

.nhsuk-form-group .tox-tinymce {
    display: flex;
    border: .125rem solid #4c6272;
}

.c-textarea--error,
.nhsuk-form-group--error .tox-tinymce {
    border: $nhsuk-border-width-form-element-error solid $nhsuk-error-color;
}

.c-form-group--focus .tox-tinymce {
    @include nhsuk-focused-input;
    border: 0.25rem solid #212b32;
}

.nhsuk-textarea-wrapper {
    background-color: $white;
}
