@using MvcForum.Web.ViewModels
@using MvcForum.Web.ViewModels.Group
@model MvcForum.Core.Models.Groups.GroupViewModel

<h2>@Html.LanguageString("Group.AboutUs")</h2>
<p>@Model.Introduction</p>
<h3>@Html.LanguageString("Group.GroupRules")</h3>
<p>@Model.AboutUs</p>
