/////////////////////
// Dark Theme //
/////////////////////

// Generic
////////////////////////////////////////////
$t-site-background: #fdfcfc;
$t-generic-border-color: #eae8e4;
$t-generic-icon-color: #00728e;
$t-generic-interaction-color: #00728e;

// Typography
////////////////////////////////////////////
$t-body-text-color: #1f2025;
$t-link-color: #00728e;
$t-heading-color: #1f2025;
$t-heading-color-alt: #00728e;

// Buttons
////////////////////////////////////////////
$t-base-button-background: #ffffff;
$t-base-button-border-color: #e0deda;
$t-base-button-text: #00728e;
$t-primary-button-background: #00728e;
$t-primary-button-text: #ffffff;
$t-success-button-background: #0f8568;
$t-success-button-text: #ffffff;
$t-warning-button-background: #de3423;
$t-warning-button-text: #ffffff;

// Site Footer
////////////////////////////////////////////
$t-footer-background: #063f73; // the footer background
$t-footer-header: #ffffff; // footer header text colour
$t-footer-links: #ffffff; // footer link colour