@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Web.ViewModels.Topic.CreateTopicButtonViewModel
@if (Model.LoggedOnUser != null && Model.LoggedOnUser.DisablePosting != true && Model.UserCanPostTopics)
{
    <a id="createtopic" href="@Url.Action("Create", "Topic", new{groupId = Model.GroupId})" class="c-button">
        @Html.LanguageString("Layout.CreateButton")
    </a>
}