@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Web.ViewModels.Topic.ActiveTopicsViewModel
@{
    Layout = null;
    var totalCount = Convert.ToInt32(Model.TotalCount);
    ViewBag.Canonical = Html.Raw(AppHelpers.CanonicalPagingTag(totalCount, Html.Settings().TopicsPerPage, Html));
}

<div class="latesttopics">

    <div class="mainheading clearfix">
        <h1>@Html.LanguageString("Home.LatestDiscussions")</h1>
    </div>



    @foreach (var topic in Model.Topics)
    {
        Html.RenderPartial("_Topic", topic);
    }

    @if (Model.TotalPages > 1)
    {
        @Html.Pager(Convert.ToInt32(Model.PageIndex), Html.Settings().TopicsPerPage, totalCount, null, "Index", "Home")
    }

</div>