@model MvcForum.Web.ViewModels.Breadcrumb.BreadcrumbViewModel
@using MvcForum.Web.ViewModels.Shared

@if (Model.Groups.Any())
{
	<p>
		<a href=@Url.RouteUrl("GroupUrls", new { slug = Model.Groups[0].Slug, tab = Constants.GroupForumTab })
		class="u-text-lead u-text-theme-8 u-no-decoration">

			<span class="u-text-theme-0">@{
					Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-chevron-left",
					"c-ui-icon c-ui-icon--large u-fill-theme-0"));
				}</span> Back to discussions
		</a>
	</p>
}
