%to-viewport-edge {

    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 500%;
        background-color: inherit;
    }

    &:before {
        left: -500%;
    }

    &:after {
        right: -500%;
    }

}

%column-three-quarters {

    @include column(12);

    @include respond-to(tablet) {
        @include column(9);
    }

}

%column-three-quarters-full-bleed {

    @include column(12, true);

    @include respond-to(tablet) {
        @include column(9, true);
    }

}

%column-half {

    @include column(12);

    @include respond-to(tablet) {
        @include column(6);
    }

}

%column-half-full-bleed {

    @include column(12, true);

    @include respond-to(tablet) {
        @include column(6, true);
    }

}

%column-two-thirds {

    @include column(12);

    @include respond-to(tablet) {
        @include column(8);
    }

}

%column-two-thirds-full-bleed {

    @include column(12, true);

    @include respond-to(tablet) {
        @include column(8, true);
    }

}

%column-third {

    @include column(12);

    @include respond-to(tablet) {
        @include column(4);
    }

}

%column-third-full-bleed {

    @include column(12, true);

    @include respond-to(tablet) {
        @include column(4, true);
    }

}

%column-quarter {

    @include column(12);

    @include respond-to(tablet) {
        @include column(3);
    }

}

%column-quarter-full-bleed {

    @include column(12, true);

    @include respond-to(tablet) {
        @include column(3, true);
    }

}

%column-sixth {

    @include column(12);

    @include respond-to(tablet) {
        @include column(2);
    }

}

%column-sixth-full-bleed {

    @include column(12, true);

    @include respond-to(desktop) {
        @include column(2, true);
    }

}

%column-twelfth {

    @include column(12);

    @include respond-to(tablet) {
        @include column(1);
    }

}

%column-twelfth-full-bleed {

    @include column(12, true);

    @include respond-to(tablet) {
        @include column(1, true);
    }

}
