%clear-button-styles {
    background: none;
    border: 0;
    padding: 0;
    height: auto;
    width: auto;
    cursor: pointer;
}

%button-base {
    @extend %clear-button-styles;
    @extend %button-transitions;
    @include font-family-poppins-regular;
    background-color: $t-button-background-two;
    color: $t-button-text-two;
    fill: $t-button-text-two;
    position: relative;
    display: inline-block;
    margin: 0 $base-dimension-unit $base-dimension-unit 0;
    padding: $base-dimension-unit $spacer-xsm;
    min-width: $spacer-lg;
    min-height: $button-height;
    line-height: $very-large-text;
    font-size: $large-text;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    outline: none;

    span {
        vertical-align: middle;
    }

    svg {
        height: $spacer-sm;
        width: $spacer-sm;
        vertical-align: middle;
    }
}

%button-primary {
    @include focus-outline-large;
    background-color: $t-button-background-one;
    color: $t-button-text-one;
    fill: $t-button-text-one;
    border: $focus-outline-width solid $t-button-background-one;

    &:hover {
        background-color: $t-button-background-hover-one;
        border: $focus-outline-width solid $t-button-background-hover-one;
        text-decoration: none;
    }

    &:active {
        background-color: $t-button-background-active-one;
        border: $focus-outline-width solid $t-button-background-active-one;
        text-decoration: none;
    }

    &:focus {
        background-color: $t-button-background-focus-one;
        border: $focus-outline-width solid $t-button-background-focus-one;
    }

    &:disabled {
        @extend %button-disabled;
    }
}

%button-primary-callout {
    @extend %button-primary;
    @include font-family-poppins-bold;
    @include focus-outline-large;
    @include very-large-text;
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: #{derived-dimension(2.5) - 2} $spacer-md #{derived-dimension(2.5) - 2} $spacer-sm;
}

%button-secondary {
    @include focus-outline-large;
    background-color: $t-button-background-two;
    color: $t-button-text-two;
    fill: $t-button-text-two;
    border: $focus-outline-width solid $t-button-background-hover-two;

    &:hover {
        background-color: $t-button-background-hover-two;
        color: $t-button-text-one;
        fill: $t-text-two;
        text-decoration: none;
    }

    &:active {
        background-color: $t-button-background-active-two;
        text-decoration: none;
    }

    &:focus {
        color: $t-button-text-one;
        fill: $t-button-text-one;
        background-color: $t-button-background-focus-two;
    }

    &:disabled {
        @extend %button-disabled;
    }
}

%button-secondary-callout {
    @extend %button-secondary;
    @include font-family-poppins-bold;
    @include focus-outline-large;
    @include very-large-text;
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: #{derived-dimension(2.5) - 2} $spacer-md #{derived-dimension(2.5) - 2} $spacer-sm;
}

%button-link {
    @extend %clear-button-styles;
    @extend %standard-link;
    margin: 0;
    padding: 0;
    min-height: auto;
    min-width: auto;
    background-color: transparent;
    color: $t-interaction-one;
    text-decoration: underline;
    cursor: pointer;

    &:disabled {
        cursor: default;
        color: $mid-grey;
        background-color: transparent;
        border-color: transparent;

        &:hover {
            cursor: default;
            color: $mid-grey;
            text-decoration: underline;
            background-color: transparent;
        }
    }
}

%button-disabled {
    background-color: $mid-grey;
    border-color: $mid-grey;
    color: $t-text-two;
    fill: $t-button-text-one;

    &:hover {
        cursor: default;
        background-color: $mid-grey;
        color: $white;
        fill: $t-button-text-one;
    }

    &:active {
        top: 0;
        background-color: $mid-grey;
        color: $white;
    }

    &:focus {
        background-color: $mid-grey;
        color: $white;
    }
}

%button-transitions {
    transition: color $button-transition, background-color $button-transition, border-color $button-transition,
    box-shadow $button-transition, fill $button-transition;
}

%button-icon {
    width: $spacer-xsm;
    height: $spacer-xsm;
    margin: 0 $base-dimension-unit 0 0;
    vertical-align: text-bottom;
}
