%link-base {
    text-decoration: none;
    cursor: pointer;
}

%svg-base {
    width: 100%;
    height: 100%;
}

%standard-link {
    color: $t-interaction-one;
    text-decoration: underline;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        color: $t-text-one;
        text-decoration: none;
    }
}

%nhsuk-focused-text {
    background-color: $nhsuk-focus-color;
    box-shadow: 0 -2px $nhsuk-focus-color, 0 $nhsuk-focus-width $nhsuk-focus-text-color;
    color: $nhsuk-focus-text-color;
    // When colours are overridden, for example when users have a dark mode,
    // backgrounds and box-shadows disappear, so we need to ensure there's a
    // transparent outline which will be set to a visible colour.
    outline: $nhsuk-focus-width solid transparent;
    // When link is focussed, hide the default underline since the
    // box shadow adds the "underline"
    text-decoration: none;
}

%nhsuk-link-style-default {
    color: $nhsuk-link-color;

    &:visited {
        color: $nhsuk-link-visited-color;
    }

    &:hover {
        color: $nhsuk-link-hover-color;
        text-decoration: none;
    }

    &:focus {
        @extend %nhsuk-focused-text;

        &:hover {
            text-decoration: none;
        }

        &:visited {
            color: $nhsuk-focus-text-color;
        }

        // .nhsuk-icon {
        //     fill: $nhsuk-focus-text-color;
        // }
    }

    &:active {
        color: $nhsuk-link-active-color;
    }
}

%nhsuk-focused-item {
    border: $nhsuk-focus-width solid $nhsuk-focus-text-color;
    box-shadow: 0 0 0 $nhsuk-focus-width $nhsuk-focus-color;
    outline: $nhsuk-focus-width solid transparent;
    outline-offset: $nhsuk-focus-width;
}