.c-site-nav {

    $self: &;
    @include clearfix;

    &_content {

        &[open] { // sass-lint:disable-line no-attribute-selectors

            @include respond-to(mobile) {

                & > summary { // sass-lint:disable-line no-combinators

                    &:before { // sass-lint:disable-line nesting-depth
                        content: '';
                        position: absolute;
                        display: block;
                        bottom: -$spacer-sm;
                        left: 0;
                        right: 0;
                        height: $spacer-xsm;
                        background-color: $aqua;
                    }

                }

            }

        }

        @include respond-to(tablet) {
            position: static;
        }

    }

    &_root-nav {

        @include clearfix;
        position: fixed;
        top: $site-header-mobile-height;
        left: 0;
        right: 0;
        margin: 0;
        padding: $spacer-xsm;
        list-style-type: none;
        background-color: $t-site-background-one;
        border: derived-dimension(.5) solid $t-border-one;
        z-index: 1;

        &--mobile-full-height {
            bottom: 0;
            overflow-y: auto;
        }

        @include respond-to(tablet) {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-wrap: wrap;
            position: static;
            padding: 0;
            border: 0;
            overflow-y: visible;
            height: $site-header-nav-tablet-height;
            min-height: $site-header-nav-tablet-height;
            max-width: 500px;
        }

        @include respond-to(desktop) {
            max-width: 700px;
        }

        @include respond-to(desktop-large) {
            max-width: 900px;
        }

    }

    &_mobile-trigger {

        @include font-family-poppins-bold;
        @include hover-primary;
        @include active-primary;
        position: absolute;
        bottom: $spacer-sm;
        line-height: $large-text-line-height;
        font-size: $large-text;
        color: $t-text-one;
        fill: $t-icon-three;

        @include respond-to(tablet) {
            display: none;
        }

        &--right {
            right: $spacer-xsm;
        }

    }

    &_mobile-trigger-icon {
        @include inline-icon-half($spacer-rg);
        margin: 0 0 -3px $base-dimension-unit;
    }

    &_root-nav-link {

        @extend %button-base;
        @extend %button-primary;
        @include font-family-poppins-bold;
        @include small-heading;
        margin: 0 0 $spacer-sm;
        padding: $base-dimension-unit $spacer-xsm;
        min-height: $spacer-md;

        @include respond-to(tablet) {
            margin: 0 0 -#{derived-dimension(.5)} $spacer-xsm;
            padding: derived-dimension(.5) $spacer-xsm;
            line-height: $large-text-line-height;
            font-size: $large-text;
            min-height: $spacer-rg;
        }

        @include respond-to(desktop) {
            margin: 0 0 -#{derived-dimension(.5)} derived-dimension(5);
        }

    }

    &_root-nav-item {

        @include clearfix;
        margin: 0 0 $spacer-sm;

        @include respond-to(tablet) {
            margin: 0;
            float: left;
        }

        &[open] { // sass-lint:disable-line no-attribute-selectors

            summary {

                @include respond-to(tablet) {

                    &:before { // sass-lint:disable-line nesting-depth
                        content: '';
                        position: absolute;
                        display: block;
                        bottom: -$spacer-xsm;
                        left: 0;
                        right: 0;
                        height: $base-dimension-unit;
                        background-color: $t-border-one;
                    }

                }

            }

        }

    }

    &_root-nav-trigger {

        @include font-family-poppins-bold;
        @include hover-primary;
        @include active-primary;
        @include small-heading;
        display: block;
        position: relative;
        color: $t-text-one;
        fill: $t-icon-three;

        @include respond-to(tablet) {
            display: flex;
            position: relative;
            align-items: center;
            margin: 0 0 0 $spacer-xsm;
            line-height: $large-text-line-height;
            font-size: $large-text;
        }

        @include respond-to(desktop) {
            margin: 0 0 0 derived-dimension(5);
        }

    }

    &_root-nav-icon {
        @include inline-icon-half($spacer-sm);
    }

    &_sub-nav {

        background-color: $t-site-background-one;
        z-index: 1;

        @include respond-to(tablet) {
            position: absolute;
            z-index: 2;
            top: 100%;
            left: 0;
            right: 0;
            box-shadow: inset 0 0 0 derived-dimension(.5) $t-border-one;
        }

    }

    &_sub-nav-content {

        @include clearfix;
        padding: $spacer-sm 0;

        @include respond-to(tablet) {
            margin: 0 auto;
            padding: $spacer-rg $spacer-xsm;
            max-width: $content-max-width;
        }

        @include respond-to(desktop-large) {
            padding: $spacer-rg 0;
        }

    }

    &_sub-nav-item {

        padding: 0 0 derived-dimension(5);

        @include respond-to(tablet) {

            padding: 0 0 derived-dimension(6);

            &:nth-child(2n+3) {
                clear: left;
            }

        }

        @include respond-to(desktop) {

            &:nth-child(2n+3) {
                clear: none;
            }

            &:nth-child(5n+5) {
                clear: left;
            }

        }

    }

    &_sub-nav-heading {

        @include font-family-poppins-bold;
        @include focus-outline;
        @include very-large-text;
        display: block;
        color: $t-heading-three;
        text-transform: uppercase;

        @include respond-to(tablet) {
            margin: 0 0 derived-dimension(1.5);
            line-height: $large-text-line-height;
            font-size: $large-text;
        }

    }

    &_sub-nav-child {

        @include hover-primary;
        @include active-primary;
        @include very-large-text;
        margin: 0 0 $spacer-xsm $base-dimension-unit;
        color: $t-text-one;

        @include respond-to(tablet) {
            display: block;
            margin: 0 0 $base-dimension-unit;
            line-height: $large-text-line-height;
            font-size: $large-text;
        }

    }

}