
// sass-lint:disable-all

// overide styles for 3rd party tiny mce editor

.tinymceholder {
    .mce-panel {
        border: 1px solid $nhsuk-form-border-color !important;
        border-radius: 0;
        box-sizing: border-box;
        background-color: transparent;
    }

    .mce-toolbar-grp,
    .mce-statusbar {
        background-color: $very-light-grey;
    }

    .mce-btn {
        background: none;
    }

    .mce-btn-small button {
        padding: 9px 11px;
    }

    .mce-btn-small i {
        font-size: 19px;
        color: $black;
    }

    .mce-btn-group:not(:first-child) {
        border-left: 2px solid $light-mid-grey;
    }

    .mce-content-body {
        @include standard-text(false);
        color: $t-text-one;
        padding: $nhsuk-spacing-point-1;
    }
}

// non js error styles
.c-form-group--error {
    .tinymceholder {
        .mce-panel,
        .c-textarea {
            border-color: $nhsuk-error-color !important;
        }
    }
}


.u-has-error .mce-edit-area {

    border: 2px solid $nhsuk-error-color !important;
    
}
// sass-lint:enable-all
