@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("Members.ResetPassword.Title");
}
<div class="c-grid-block">
    <div class="c-grid-block_item l-col-12 l-col-6-t">
        <div class="mainheading">
            <h2>@ViewBag.Title</h2>
        </div>
        <p>@Html.LanguageString("Members.ResetPassword.Text")</p>
    </div>
</div>