@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("Members.ChangePassword.Success");
}
<div class="c-grid-block">
    <div class="c-grid-block_item l-col-12 l-col-6-t">
        <div class="mainheading">
            <h1>@ViewBag.Title</h1>
        </div>
        <p>@Html.LanguageString("Members.ResetPassword.SuccessText")</p>
        <p>@Html.ActionLink(Html.Lang("Layout.Nav.Logon"), "LogOn", "Members", null, new { @class = "btn-mvc-green btn-mvc-large" })</p>
    </div>
</div>