// NHS
@import 'node_modules/nhsuk-frontend/packages/core/settings/_colours';
@import 'node_modules/nhsuk-frontend/packages/core/settings/_globals';

@import "dimensions";
@import "break-points";
@import "text";
@import "colours";
@import "default-theme";

// Transitions
$very-short-transition: 0.1s;
$short-transition: 0.2s;
$medium-transition: 0.5s;
$ease-in-out: ease-in-out;
$linear: linear;
$button-transition: .2s cubic-bezier(.25, .8, .25, 1);
