.c-back-link {

    &_icon {
        height: $nhsuk-spacing-point-3;
        width: $nhsuk-spacing-point-3;
        margin: -2px $nhsuk-spacing-point-2 0 0;
        vertical-align: middle;
        fill: $blue;
    }

}