.c-page-header {
    width: 100%;
    padding: $nhsuk-spacing-point-4 0 $nhsuk-spacing-point-3;
    color: $white;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 100%;
        width: 10000px;
        height: 100%;
        background-color: inherit;

        @include respond-to(desktop) {
            display: none;
        }
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 100%;
        width: 10000px;
        height: 100%;
        background-color: inherit;
    }

    @include respond-to(desktop) {
        padding: $nhsuk-spacing-point-6 $nhsuk-spacing-point-3 0;
    }

    &_col-1 {
        flex: 0 0 auto;
        margin-right: $nhsuk-spacing-point-4;

        @include respond-to(desktop) {
            margin-right: $nhsuk-spacing-point-8;
        }
    }

    &_col-2 {
        flex: 12 1 auto;
        display: flex;
        flex-direction: column;
    }

    &_hero {
        display: block;
        float: left;
        margin: 0 32px 0 0;
    }

    &_hero-body {
        display: block;
        position: relative;
        height: 104px;
        width: 104px;
        overflow: hidden;
        aspect-ratio: 1 / 1; //sass-lint:disable-line no-misspelled-properties
        background-color: $color_nhsuk-grey-5;
        border-radius: 4px;
    }

    &_header {
        margin-bottom: $nhsuk-spacing-point-9;
        @include respond-to(desktop) {
            margin-top: $nhsuk-spacing-point-4;
        }
    }

    &_description {
        @include lead-text;
    }

    &_nav-trigger {
        position: relative;
        border: 4px solid transparent;
        padding: 14px 16px;
        @include respond-to(desktop) {
            display: none;
        }
    }

    &_nav-trigger-icon {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 16px;
        right: 16px;
    }

    &_nav-content {
        border-top: 2px solid $white;
    }

}