<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9527f66f-2fa3-4281-a2e2-1d921605a136" Alias="General Web Page - Markdown editor" Level="1">
  <Info>
    <Name>General Web Page - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisplayLivePreview": false,
  "DefaultValue": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>