<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f25dd9d-6760-427f-be7d-fdb8e9bb3b3d" Alias="Link Picker" Level="1">
  <Info>
    <Name>Link Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "keyLinkBlock",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>