<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85058021-bf12-4217-b8c6-c8a5a7ba138b" Alias="Template Block Picker" Level="1">
  <Info>
    <Name>Template Block Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/1fb7c306baa14ae3a7b40c06c2eb3fd4"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>