.c-phase-banner {
  background-color: $light-grey;
  padding-top: 10px;
  padding-bottom: 10px;

    &_content {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 14px;
      font-size: .875rem;
      line-height: 1.14286;
      margin: 0 auto;

        .c-tag {
          display: inline-block;
          outline: 2px solid transparent;
          outline-offset: -2 px;
          color: $color_nhsuk-white;
          background-color: $color_nhsuk-blue;
          letter-spacing: 1px;
          text-decoration: none;
          text-transform: uppercase;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 700;
          font-size: 14px;
          line-height: 1;
          padding: 5px 8px 4px 8px;
        }

        &_text {
          display: table-cell;
          vertical-align: middle;
        }

        .c-link:link {
          color: $color_nhsuk-blue;
          text-decoration: underline;
        }
  }

}