@using MvcForum.Web.ViewModels
@using MvcForum.Web.ViewModels.Group
@model GroupListSummaryViewModel

<h2>Discover new Groups</h2>

<p class="u-text-lead">@Html.LanguageString("Group.DiscoverGroups.Introduction")</p>

@foreach (var groupSummary in Model.AllPermissionSets.Keys)
{
    var permissions = Model.AllPermissionSets[groupSummary];

    @Html.Partial("_Group", new GroupSummaryViewModel
    {
        GroupId = groupSummary.Group.Id,
        Name = groupSummary.Group.Name,
        Description = groupSummary.Group.Description,
        Image = groupSummary.Group.Image,
        NiceUrl = groupSummary.Group.NiceUrl,
        DiscussionCount = groupSummary.DiscussionCount,
        MemberCount = groupSummary.MemberCount,
        Permissions = permissions
    })
}