@using MvcForum.Web.ViewModels
@using MvcForum.Web.ViewModels.Group
@model GroupListSummaryViewModel
@{
    Layout = null;
}

<div class="Groupindex">

    @foreach (var cat in Model.AllPermissionSets.Keys)
    {
        var permissions = Model.AllPermissionSets[cat];

        @Html.Partial("_Group", new GroupViewModel {
                                                           Group = cat.Group,
                                                           LatestTopic = cat.MostRecentTopic,
                                                           Permissions = permissions,
                                                           PostCount = cat.PostCount,
                                                           TopicCount = cat.TopicCount
                                                       })

    }

</div>
