.c-dialog {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    background-color: $black-tint;

    &_content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: fit-content;
        height: fit-content;
        margin: auto;
        padding: 20px;
        box-shadow: 0 $base-dimension-unit-half $base-dimension-unit-half 0 $black-tint;
        background-color: $white;
        border-left: $base-dimension-unit-half solid $color_nhsuk-red;

        &--thin {
            max-width: 400px;
        }
    }
}

// safari modal
.c-modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	display:none;
    position: fixed;
    z-index: 10000;
    background-color: $black-tint;
}

.c-modal-window {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;
    box-shadow: 0 $base-dimension-unit-half $base-dimension-unit-half 0 $black-tint;
    background-color: $white;
    border-left: $base-dimension-unit-half solid $color_nhsuk-red;
}

.c-open {
    display: block;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}