.c-promo-block {
    @include block;
    @include card-shadow;
    line-height: $large-text-line-height;
    font-size: $large-text;
    overflow: hidden;
    background-color: $t-card-background-one;

    &--column {
        flex-direction: column;
    }

    &--row {
        @include respond-to(tablet) {
            flex-direction: row;
        }
    }

    &_slot {
        display: block;
        flex-grow: 0;
        line-height: 0;

        &--primary {
            background-color: $t-card-background-one;
        }

        &--secondary {
            background-color: $t-card-background-two;
        }

        &--tertiary {
            background-color: $t-card-background-three;
        }
    }

    &_body {
        @include card-padding;
        flex-grow: 1;

        &--primary {
            background-color: $t-card-background-one;
        }

        &--secondary {
            background-color: $t-card-background-two;
        }

        &--tertiary {
            background-color: $t-card-background-three;
        }
    }

    &_body-slot {
        margin: $spacer-xsm 0 $spacer-xsm $spacer-xsm;

        & > * { // sass-lint:disable-line no-combinators no-universal-selectors
            margin-bottom: $spacer-xsm;
        }

        @include respond-to(tablet) {
            margin: $spacer-sm 0 0 $spacer-sm;

            & > * { // sass-lint:disable-line no-combinators no-universal-selectors
                margin-bottom: $spacer-rg;
            }
        }

        @include respond-to(desktop) {
            margin: derived-dimension(5) 0 0 derived-dimension(8);
        }
    }

    &_tag {
        @include font-family-poppins-bold;
        @include very-large-text;
        display: inline-block;
        margin: 0 0 $spacer-rg;
        padding: derived-dimension(.5) derived-dimension(1);
        text-transform: uppercase;
        color: $t-tag-text-one;
        background-color: $t-tag-background-one;

        &--primary {
            background-color: $t-tag-background-one;
        }

        &--secondary {
            background-color: $t-tag-background-two;
        }
    }

    &_heading {
        line-height: $h5-line-height-desktop;
        font-size: $h5-font-size-desktop;
    }

    &_content {
        margin: 0 0 $spacer-xsm;
    }

    &_link {
        @extend %button-primary;
        @include font-family-poppins-bold;
        display: inline-block;
        padding: derived-dimension(1) $spacer-xsm;
        color: $t-text-two;
        background-color: $t-interaction-one;
    }
}
