.c-avatar {
    position: relative;
    padding-bottom: 100%;

    &-fallback {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $blue;
        border-radius: 50%;
        z-index: 1;
    }

    &-initials {
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 78px;
        height: 100%;
    }

    &-image {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 2;
    }
}
