<div class="topadminsubnav">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Index")" role="button" class="btn-mvc-green">Manage Groups</a>
        <a href="@Url.Action("CreateGroup")" role="button" class="btn-mvc-green">Create New</a>
    </div>
</div>