@using MvcForum.Web.ViewModels
@using MvcForum.Web.ViewModels.Admin
@{   
    var genericMessage = new GenericMessageViewModel();
    if (TempData[Constants.MessageViewBagName] != null)
    {
        genericMessage = (GenericMessageViewModel)TempData[Constants.MessageViewBagName];
    }
    else if (ViewBag.Message != null)        
    {
        genericMessage = (GenericMessageViewModel)ViewBag.Message;
    }
    var delayTime = genericMessage.ConstantMessage ? 600000 : 4500;
}

<div id="js-toast" data-timeout="@delayTime" data-message="@Html.Raw(genericMessage.Message)" style="display:none;"></div>
