@{
    Layout = "_Layout.cshtml";
}

@section SocialMeta{
    @RenderSection("SocialMeta", false)
}

@section Header {
    @RenderSection("Header", false)
}

<main class="mainbody">
    @RenderBody()
</main>

@section Footer {
    @RenderSection("Footer", false)
}

