@using MvcForum.Web.ViewModels.Shared
@model MvcForum.Web.ViewModels.Shared.TabViewModel
@{

}

<ul class="nav nav-tabs">
	@foreach (var tab in Model.Tabs.OrderBy(x=> x.Order))
	{
	<li class="@(tab.Active ? "active" : "")">
		@{ Html.RenderPartial("_SVGIcon", new SVGIconViewModel(tab.Icon, "c-ui-icon")); }
		<a class="" href="@tab.Url">@Html.LanguageString(tab.Name)</a>
	</li>
	}
	
</ul>