@using MvcForum.Web.ViewModels.Shared
@model MvcForum.Web.ViewModels.Shared.TabViewModel
@{
    
}

<nav class="c-tabbed-nav">
    <ul role="menu" class="u-list-plain c-tabbed-nav_list">
        
        @foreach (var tab in Model.Tabs.OrderBy(x=> x.Order))
        {
            <li class="c-tabbed-nav_item" role="none">
                <a class="@(tab.Active? "c-tabbed-nav_link--active" : "") c-tabbed-nav_link" href="@tab.Url" role="menuitem">
	                <span>
                        @Html.LanguageString(@tab.Name)
                    </span>
                </a>

            </li>
        }
    </ul>
</nav>
