@model MvcForum.Web.ViewModels.Breadcrumb.BreadcrumbViewModel

@if (Model.Groups.Any())
{
    <p>
        <a href="@Model.Groups[0].NiceUrl" class="u-text-small u-text-theme-0">
            &lsaquo; Back to discussions
        </a>
    </p>
}
