@using MvcForum.Web.ViewModels.Shared

<h2>Cards fill the width of their container</h2>
<div class="c-card">
    <div class="c-card_content">
        <h2 class="c-card_heading">
            <a class="c-card_link" href="#">Introduction to care and support</a>
        </h2>
        <p class="c-card_description">A quick guide for people who have care and support needs and their carers
        </p>
    </div>
</div>

<h3>Card groups need to be within c-grid-block_item--row to match heights</h3>
<div class="c-grid-block">
    <div class="c-grid-block_item c-grid-block_item--row l-col-4">


        <div class="c-card">
            <div class="c-card_img-container"><img class="c-card_img" src="https://picsum.photos/400/440" alt=""></div>
            <div class="c-card_content">
                <h2 class="c-card_heading">
                    <a class="c-card_link" href="#">Introduction to care and support</a>
                </h2>
                <p class="c-card_description">A quick guide for people who have care and support needs and their carers
                </p>
            </div>
        </div>


    </div>
    <div class="c-grid-block_item c-grid-block_item--row l-col-4">

        <div class="c-card">
            <div class="c-card_img-container"><img class="c-card_img" src="https://picsum.photos/400/300" alt=""></div>
            <div class="c-card_content">
                <h2 class="c-card_heading">
                    <a class="c-card_link" href="#">Introduction to care and support</a>
                </h2>
                <p class="c-card_description">A quick guide</p>
            </div>
        </div>

    </div>
    <div class="c-grid-block_item c-grid-block_item--row l-col-4">

        <div class="c-card">
            <div class="c-card_img-container"><img class="c-card_img" src="https://picsum.photos/300" alt=""></div>
            <div class="c-card_content">
                <h2 class="c-card_heading">
                    <a class="c-card_link" href="#">Introduction to care and support</a>
                </h2>
                <p class="c-card_description">A quick guide for people who have care and support needs and their carers
                </p>
            </div>
        </div>

    </div>

    <div class="c-grid-block_item l-col-12">

        <div class="c-card u-border-bottom-theme-10">
            <div class="c-card_content">
                <div class="c-card_header">
                    <div class="c-card_header-img">
                        <div class="c-avatar c-avatar--small">
                            <div class="c-avatar_fallback">
                                <p class="c-avatar_initials" aria-hidden="true">PH</p>
                            </div>
                            <img role="presentation" alt="" class="c-avatar_image" src="https://picsum.photos/50">
                        </div>
                    </div>
                    <div class="c-card_header-content u-text-theme-7">
                        <p class="u-text-small u-text-bold u-has-subheading">Created by <a href="#penny">Penny Hayward</a> 4 days ago</p>
                        <p class="u-text-small"><a href="#test">Last comment</a> by <a href="#test1">Jane Richardson</a> 4 days ago</p>
                    </div>
                    <div class="c-card_header-icons">
                        <p class="u-inline-block">@{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-pin", "c-card_header-icon u-fill-theme-7"));} <span class="u-visually-hidden">Discussion is pinned</span> </p>
                        <p class="u-inline-block">@{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-lock", "c-card_header-icon u-fill-theme-7"));} <span class="u-visually-hidden">Discussion is locked</span> </p>
                        <p class="u-inline-block">@{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-favourite-fill", "c-card_header-icon u-fill-theme-7"));} <span class="u-visually-hidden">Discussion is favourited</span> </p>
                    </div>
                </div>
                <h2 class="c-card_heading">
                    <a class="c-card_link" href="/groups/parent-group/forum/this-is-the-test-user-discussion-1/">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim</a>
                </h2>
                <div class="c-card_footer u-text-theme-7">
                    <p class="c-card_footer-item">@{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-comments", "c-card_footer-icon u-fill-theme-10"));} 16 Comments</p>
                    <p class="c-card_footer-item">@{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-view", "c-card_footer-icon u-fill-theme-10"));} 56 Views</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="c-grid-block">
    
    <div class="c-grid-block_item l-col-6">
        <div class="c-card c-card--img-left u-border-bottom-theme-8">
            <div class="c-card_img-container"><img class="c-card_img" role="presentation" src="https://picsum.photos/350/200" alt=""></div>
            <div class="c-card_content">
                <h2 class="c-card_heading c-card_heading--small">
                    @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-forum-fill", "c-card_heading-icon u-fill-theme-8"));} 
                    <a class="c-card_link" href="#">Join in the conversation</a>
                </h2>
                <p class="c-card_description u-text-small">Contribute to our forum and help us build a better platform</p>
            </div>
        </div>
    </div>
    
    <div class="c-grid-block_item l-col-6">
        <div class="c-card c-card--img-left u-border-bottom-theme-8">
            <div class="c-card_img-container"><img class="c-card_img" role="presentation"  src="https://picsum.photos/350/200" alt=""></div>
            <div class="c-card_content">
                <h2 class="c-card_heading c-card_heading--small">
                    @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-members-fill", "c-card_heading-icon u-fill-theme-8"));} 
                    <a class="c-card_link" href="#">Join in the conversation</a>
                </h2>
                <p class="c-card_description u-text-small">Contribute to our forum and help us build a better platform</p>
            </div>
        </div>
    </div>

</div>



<h3>Forum - comment </h3>
<div class="c-grid-block">
     <div class="c-grid-block_item l-col-12">

        <div class="c-card c-card--comment u-border-left-theme-8">
            <div class="c-card_content">
                <div class="c-card_header">
                    <div class="c-card_header-img">
                        <div class="c-avatar c-avatar--small">
                            <div class="c-avatar_fallback">
                                <p class="c-avatar_initials u-text-bold" aria-hidden="true">PH</p>
                            </div>
                            <img role="presentation" alt="" class="c-avatar_image" src="https://picsum.photos/50">
                        </div>
                    </div>
                    <div class="c-card_header-content u-text-theme-7">
                        <p class="u-text-small u-text-bold u-has-subheading u-text-theme-8">
                             <a href="#">Penny Hayward</a>
                        </p>
                        <p class="u-text-small u-text-bold">3 hours ago</p>
                    </div>
                </div>
                <p class="c-card_description">
                    We are using databases quite a lot at the moment to share data, track cases & issues and various other use cases. I am finding them a very powerful tool. Version control is also great. Also dashboards. 
                </p>
                <div class="c-card_footer">
                    <p class="c-card_footer-item">
                        <a href="#" class="u-text-theme-7" >
                            @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-like-fill", "c-card_footer-icon u-fill-theme-5"));} 
                            <span>3 likes</span>
                        </a>
                    </p>
                    <p class="c-card_footer-item u-text-theme-10">
                        <a href="#" class="u-text-theme-8" >
                            @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-reply", "c-card_footer-icon u-fill-theme-8"));}
                            <span>
                                Reply
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<h3>Forum - one reply comment </h3>
<div class="c-grid-block">
     <div class="c-grid-block_item l-col-12">

        <div class="c-card c-card--comment u-border-left-theme-8">
            <div class="c-card_content">
                <div class="c-card_header">
                    <div class="c-card_header-img">
                        <div class="c-avatar c-avatar--small">
                            <div class="c-avatar_fallback">
                                <p class="c-avatar_initials u-text-bold" aria-hidden="true">PH</p>
                            </div>
                            <img role="presentation" alt="" class="c-avatar_image" src="https://picsum.photos/50">
                        </div>
                    </div>
                    <div class="c-card_header-content u-text-theme-7">
                        <p class="u-text-small u-text-bold u-has-subheading u-text-theme-8">
                             <a href="#">Penny Hayward</a>
                        </p>
                        <p class="u-text-small u-text-bold">3 hours ago</p>
                    </div>
                </div>
                <p class="c-card_description">
                    We are using databases quite a lot at the moment to share data, track cases & issues and various other use cases. I am finding them a very powerful tool. Version control is also great. Also dashboards. 
                </p>
                <div class="c-card_footer">
                    <p class="c-card_footer-item">
                        <a href="#" class="u-text-theme-7" >
                            @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-like-fill", "c-card_footer-icon u-fill-theme-5"));} 
                            <span>3 likes</span>
                        </a>
                    </p>
                    <p class="c-card_footer-item u-text-theme-10">
                        <a href="#" class="u-text-theme-8" >
                            @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-reply", "c-card_footer-icon u-fill-theme-8"));}
                            <span>
                                Reply
                            </span>
                        </a>
                    </p>
                </div>
                <div class="c-card_replies-list">
                    
                    <div class="c-card_replies-item">
                        <div class="c-card c-card--reply u-border-left-theme-8">
                            <div class="c-card_content">
                                <div class="c-card_header">
                                    <div class="c-card_header-img">
                                        <div class="c-avatar c-avatar--small">
                                            <div class="c-avatar_fallback">
                                                <p class="c-avatar_initials u-text-bold" aria-hidden="true">PH</p>
                                            </div>
                                            <img role="presentation" alt="" class="c-avatar_image" src="https://picsum.photos/50">
                                        </div>
                                    </div>
                                    <div class="c-card_header-content u-text-theme-7">
                                        <p class="u-text-small u-text-bold u-has-subheading u-text-theme-8">
                                            <a href="#">Penny Hayward</a>
                                        </p>
                                        <p class="u-text-small u-text-bold">3 hours ago</p>
                                    </div>
                                </div>
                                <p class="c-card_quote u-text-bold u-text-theme-7">
                                    Reply to Astell Clarke “We are using databases...”
                                </p>
                                <p class="c-card_description">
                                    We are using databases quite a lot at the moment to share data, track cases & issues and various other use cases. I am finding them a very powerful tool. Version control is also great. Also dashboards. 
                                </p>
                                <div class="c-card_footer">
                                    <p class="c-card_footer-item">
                                        <a href="#" class="u-text-theme-7" >
                                            @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-like-fill", "c-card_footer-icon u-fill-theme-5"));} 
                                            <span>3 likes</span>
                                        </a>
                                    </p>
                                    <p class="c-card_footer-item u-text-theme-10">
                                        <a href="#" class="u-text-theme-8" >
                                            @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-reply", "c-card_footer-icon u-fill-theme-8"));}
                                            <span>
                                                Reply
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="c-card_replies-item">
                        <div class="c-card c-card--reply u-border-left-theme-8">
                            <div class="c-card_content">
                                <div class="c-card_header">
                                    <div class="c-card_header-img">
                                        <div class="c-avatar c-avatar--small">
                                            <div class="c-avatar_fallback">
                                                <p class="c-avatar_initials u-text-bold" aria-hidden="true">PH</p>
                                            </div>
                                            <img role="presentation" alt="" class="c-avatar_image" src="https://picsum.photos/50">
                                        </div>
                                    </div>
                                    <div class="c-card_header-content u-text-theme-7">
                                        <p class="u-text-small u-text-bold u-has-subheading u-text-theme-8">
                                            <a href="#">Penny Hayward</a>
                                        </p>
                                        <p class="u-text-small u-text-bold">3 hours ago</p>
                                    </div>
                                </div>
                                <p class="c-card_quote u-text-bold u-text-theme-7">
                                    Reply to Astell Clarke “We are using databases...”
                                </p>
                                <p class="c-card_description">
                                    We are using databases quite a lot at the moment to share data, track cases & issues and various other use cases. I am finding them a very powerful tool. Version control is also great. Also dashboards. 
                                </p>
                                <div class="c-card_footer">
                                    <p class="c-card_footer-item">
                                        <a href="#" class="u-text-theme-7" >
                                            @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-like-fill", "c-card_footer-icon u-fill-theme-5"));} 
                                            <span>3 likes</span>
                                        </a>
                                    </p>
                                    <p class="c-card_footer-item u-text-theme-10">
                                        <a href="#" class="u-text-theme-8" >
                                            @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-reply", "c-card_footer-icon u-fill-theme-8"));}
                                            <span>
                                                Reply
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>                
                <p>
                    <a href="#" class="u-text-bold u-text-small">
                        Load more replies
                    </a>
                </p>
            </div>
        </div>

    </div>
</div>