<h2>Forms</h2>
<fieldset class="c-fieldset">
  <legend class="c-fieldset_legend">
    <h3 class="c-fieldset_heading">
      What is your address?
    </h3>
  </legend>

  <div class="c-form-group">
    <label class="c-label" for="address-line-1">
      Building and street <span class="c-u-visually-hidden">line 1 of 2</span>
    </label>
    <input class="c-input" id="address-line-1" name="address-line-1" type="text">
  </div>

  <div class="c-form-group">
    <label class="c-label" for="address-line-2">
      <span class="u-visually-hidden">Building and street line 2 of 2</span>
    </label>
    <input class="c-input" id="address-line-2" name="address-line-2" type="text">
  </div>

  <div class="c-form-group">
    <label class="c-label" for="example">
      Can you provide more detail?
    </label>
    <div class="c-hint" id="example-hint">
      Do not include personal or financial information, for example, your National Insurance number or credit card details.
    </div>
    <textarea class="c-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
  </div>

  <h3>Error states</h3>

  <div class="c-form-group c-form-group--error">
    <label class="c-label" for="example">
      Full name
    </label>
    <span class="c-error-message" id="example-error">
      <span class="u-visually-hidden">Error:</span> Enter your full name
    </span>
    <input class="c-input c-input--error" id="example" name="example" type="text" aria-describedby="example-error">
  </div>

  <div class="c-form-group c-form-group--error">
    <label class="c-label" for="example-error">
      Why can't you provide a National Insurance number?
    </label>
    <span class="c-error-message" id="example-error-error">
      <span class="u-visually-hidden">Error:</span> You must provide an explanation.
    </span>
    <textarea class="c-textarea c-textarea--error" id="example-error" name="example-error" rows="5" aria-describedby="example-error-error"></textarea>
  </div>

</fieldset>