@using MvcForum.Web.ViewModels.Group
@using MvcForum.Web.ViewModels.Shared
@using MvcForum.Core.Constants.UI
@{
	Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
	ViewBag.Title = Html.Settings().PageTitle ?? Html.Settings().ForumName;
	ViewBag.MetaDesc = Html.Settings().MetaDesc;
	
	var tabsMenu = new TabViewModel {Tabs = new List<Tab>()};

	var homeTab = new Tab {Name = "Home", Order = 1 , Active = false, Url="#", Icon = Icons.Home};
	var forumTab = new Tab {Name = "Forum", Order = 2 , Active = true, Url="#", Icon = Icons.Forum};
	var memberTab = new Tab { Name = "Members", Order = 3, Active = false, Url = "#", Icon = Icons.Members};

	tabsMenu.Tabs.Add(homeTab);
	tabsMenu.Tabs.Add(forumTab);
	tabsMenu.Tabs.Add(memberTab);
}

<h1>FED Test Space</h1>


@Html.Partial("_Typography")
@Html.Partial("_Buttons")