<button class="c-button">
    Primary
</button>
<a href="#" class="c-button">
    link Primary
</a>
<button class="c-button" disabled>
    Primary Disabled
</button>
<a class="c-button u-disabled">
    link disabled
</a>

<br>

<button class="c-button c-button--secondary">
    Secondary
</button>
<a href="#" class="c-button c-button--secondary">
    link Secondary
</a>
<a class="c-button c-button--secondary u-disabled">
    link Secondary disabled
</a>
<button class="c-button c-button--secondary" disabled>
    Secondary Disabled
</button>

<br>

<button class="c-button c-button--outline">
    outline
</button>
<a href="#" class="c-button c-button--outline">
    link outline
</a>
<button class="c-button c-button--outline" disabled>
    outline Disabled
</button>
<a class="c-button c-button--outline u-disabled">
    link outline disabled
</a>

<br> 

<button class="c-button c-button--reverse">
    Reverse
</button>
<a href="#" class="c-button c-button--reverse">
    link Reverse
</a>
<button class="c-button c-button--reverse" disabled>
    Reverse disabled
</button>
<a class="c-button c-button--reverse u-disabled">
    link Reverse disabled
</a>
