@import "../variables/colours";
@import "../variables/variables";

$is-ie: false !default;
$ie-version: 20 !default;
$print-style: false !default;
$no-js-style: false !default;

// Prevent long urls and text from breaking layouts
// [originally from perishablepress.com](http://perishablepress.com/press/2010/06/01/wrapping-content/)
@mixin force-wrap {
  white-space: pre;           // CSS 2.0
  white-space: pre-wrap;      // CSS 2.1
  white-space: pre-line;      // CSS 3.0
  white-space: -pre-wrap;     // Opera 4-6
  white-space: -o-pre-wrap;   // Opera 7
  white-space: -moz-pre-wrap; // Mozilla
  white-space: -hp-pre-wrap;  // HP Printers
  word-wrap: break-word;      // IE 5+
}

@mixin print() {
    @if $print-style {
        @content;
    }
}

@mixin nojs() {
    @if $no-js-style {
        @content;
    }
}

// Media queries

@mixin respond-to($media) {
    @if $is-ie {

        @content;

    }
    @else {

        @if $media == mobile {
            @media screen and (max-width: $break-point-mobile-max) {
                @content;
            }
        }

        @if $media == mobile-large {
            @media screen and (min-width: $break-point-large-mobile) {
                @content;
            }
        }

        @if $media == tablet {
            @media screen and (min-width: $break-point-tablet) {
                @content;
            }
        }

        @if $media == max-desktop {
            @media screen and (max-width: $break-point-desktop) {
                @content;
            }
        }

        @if $media == max-large-desktop {
            @media screen and (max-width: $break-point-large-desktop) {
                @content;
            }
        }
        
        @if $media == desktop {
            @media screen and (min-width: $break-point-desktop) {
                @content;
            }
        }

        @if $media == desktop-large {
            @media screen and (min-width: $break-point-large-desktop) {
                @content;
            }
        }

    }
}

@function nhsuk-font-url($filename) {
  @return url($nhsuk-fonts-path + $filename);
}

@mixin _nhsuk-font-face-frutiger {
    @at-root {
        @font-face {
            font-display: swap;
            font-family: 'Frutiger W01';
            font-style: normal;
            font-weight: 400;
            src: nhsuk-font-url('FrutigerLTW01-55Roman.eot?#iefix');
            src: nhsuk-font-url('FrutigerLTW01-55Roman.eot?#iefix') format('eot'),
                nhsuk-font-url('FrutigerLTW01-55Roman.woff2') format('woff2'),
                nhsuk-font-url('FrutigerLTW01-55Roman.woff') format('woff'),
                nhsuk-font-url('FrutigerLTW01-55Roman.ttf') format('truetype'),
                nhsuk-font-url('FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115') format('svg');
        }

        @font-face {
            font-display: swap;
            font-family: 'Frutiger W01';
            font-style: normal;
            font-weight: $nhsuk-font-bold;
            src: nhsuk-font-url('FrutigerLTW01-65Bold.eot?#iefix');
            src: nhsuk-font-url('FrutigerLTW01-65Bold.eot?#iefix') format('eot'),
                nhsuk-font-url('FrutigerLTW01-65Bold.woff2') format('woff2'),
                nhsuk-font-url('FrutigerLTW01-65Bold.woff') format('woff'),
                nhsuk-font-url('FrutigerLTW01-65Bold.ttf') format('truetype'),
                nhsuk-font-url('FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca') format('svg');
        }
    }
}

@mixin clearfix() {

    &:before,
    &:after {
        content: "";
        display: table;
        width: 0;
    }

    &:after {
        clear: both;
    }
    
}

@mixin focus-outline($offset: true) {
    &:focus {
        outline: $focus-outline-width solid $t-interaction-one-focus;
        @if $offset {
            outline-offset: 3px;
        } @else {
            outline-offset: 0px;
        }
    }
}

@mixin focus-outline-large() {
    &:focus {
        outline: $focus-outline-large-width solid $t-interaction-one-focus;
        outline-offset: 0;
    }
}

@mixin placeholder-colour($colour) {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $colour !important;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $colour !important;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $colour !important;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $colour !important;
      opacity: 1;
    }
}

@mixin visually-hidden() {
    position: absolute !important;
    left: -99999px;
    top: -99999px;
}

@mixin inline-icon($line-height) {
    display: inline-block;
    width: $line-height;
    height: $line-height;
    margin: 0 0 0 $line-height / 8;
}

@mixin inline-icon-half($line-height) {
    display: inline-block;
    width: $line-height / 2;
    height: $line-height / 2;
    margin: 0 0 0 $line-height / 8;
}

@mixin block() {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@mixin no-margin-on-last-child() {
    & > * { // sass-lint:disable-line no-combinators no-universal-selectors
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin lead-heading() {
    line-height: $h1-line-height-mobile;
    font-size: $h1-font-size-mobile;

    @include respond-to(desktop) {
        line-height: $h1-line-height-desktop;
        font-size: $h1-font-size-desktop;
    }
}

@mixin regular-heading() {
    line-height: $h2-line-height-mobile;
    font-size: $h2-font-size-mobile;

    @include respond-to(desktop) {
        line-height: $h2-line-height-desktop;
        font-size: $h2-font-size-desktop;
    }
}

@mixin medium-heading($margin: true) {
    line-height: $h3-line-height-mobile;
    font-size: $h3-font-size-mobile;
    
    @if ($margin) {
        margin-bottom: $nhsuk-spacing-point-3;
    }

    @include respond-to(desktop) {
        line-height: $h3-line-height-desktop;
        font-size: $h3-font-size-desktop;

        @if ($margin) {
            margin-bottom: $nhsuk-spacing-point-4;
        }
    }
}

@mixin small-heading() {
    line-height: $h5-line-height-mobile;
    font-size: $h5-font-size-mobile;

    @include respond-to(desktop) {
        line-height: $h5-line-height-desktop;
        font-size: $h5-font-size-desktop;
    }
}

@mixin standard-text($margin: true) {
    line-height: $base-font-line-height;
    font-size: $base-font-size;

    @if ($margin) {
        margin: 0 0 $base-font-margin-bottom;
    }

    @include respond-to(desktop) {
        line-height: $base-font-line-height-desktop;
        font-size: $base-font-size-desktop;

        @if ($margin) {
            margin: 0 0 $base-font-margin-bottom-desktop;
        }
    }
}

@mixin lead-text($margin: true) {
    line-height: $lead-text-line-height;
    font-size: $lead-text-size;
    
    @if ($margin) {
        margin: 0 0 $lead-text-margin-bottom;
    }

    @include respond-to(desktop) {
        line-height: $lead-text-line-height-desktop;
        font-size: $lead-text-size-desktop;

        @if ($margin) {
            margin: 0 0 $lead-text-margin-bottom-desktop;
        }
    }
}

@mixin small-text($margin: true) {
    line-height: $small-text-line-height;
    font-size: $small-text-size;

    @if ($margin) {
        margin: 0 0 $small-text-margin-bottom;
    }

    @include respond-to(desktop) {
        line-height: $small-text-line-height-desktop;
        font-size: $small-text-size-desktop;

        @if ($margin) {
            margin: 0 0 $small-text-margin-bottom-desktop;
        }
    }
}

@mixin nhsuk-link-style-default {
    color: $nhsuk-link-color;

    &:visited {
        color: $nhsuk-link-visited-color;
    }

    &:hover {
        color: $nhsuk-link-hover-color;
        text-decoration: none;
    }

    &:focus {
        @extend %nhsuk-focused-text;

        &:hover {
            text-decoration: none;
        }

        &:visited {
            color: $nhsuk-focus-text-color;
        }
    }

    &:active {
        color: $nhsuk-link-active-color;
    }
}

@mixin nhsuk-link-style-white {
    color: $color_nhsuk-white;

    &:visited {
        color: $color_nhsuk-white;
    }

    &:hover {
        color: $color_nhsuk-white;
        text-decoration: none;
    }

    &:focus {
        color: $nhsuk-focus-text-color;
        outline: $nhsuk-focus-width solid transparent;
        outline-offset: $nhsuk-focus-width;
        text-decoration: none;
    }

    &:active {
        color: $nhsuk-link-active-color;
    }
}

@mixin nhsuk-link-style-no-visited-state {
    &:link {
        color: $nhsuk-link-color;
    }

    &:visited {
        color: $nhsuk-link-color;
    }

    &:hover {
        color: $nhsuk-link-hover-color;
    }

    &:active {
        color: $nhsuk-link-active-color;
    }

    &:focus {
        color: $nhsuk-focus-text-color;
    }
}

@function derived-dimension($multiplier) {
    @return $multiplier * $base-dimension-unit;
}

@mixin top-and-bottom() {
    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }