@model MvcForum.Core.Models.Collabora.FileServerResponse

<div class="c-grid-block">
	<div class="c-grid-block_item l-col-12">
		<h2>File preview</h2>
		<div class="u-padding-top-spacing-2 u-padding-bottom-spacing-2 u-margin-bottom-spacing-5 u-bg-theme-1">
			<form action="@Model.WopiClientUrlForFile" name="collaboraFrame" enctype="multipart/form-data" method="post" target="collabora_host_frame">
				<input name="access_token" value="@Model.AccessToken" type="hidden">
			</form>

			<iframe name="collabora_host_frame" allowfullscreen="" width="100%" height="1250px">
			</iframe>

		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		document.collaboraFrame.submit();
	});
</script>
