@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Web.ViewModels.Tag.PopularTagViewModel
           
@if (Model.PopularTags.Any())
{
    <div class="side-box popular-tags-box">
        <h3 class="side-box_title">@Html.LanguageString("Tags.PopularTags")</h3>
        <ul class="tagCloud">
            @foreach (var tag in Model.PopularTags)
            {
                <li>
                    <span class="tag">
                        <a href="@Html.Raw(tag.Key.NiceUrl)">@Html.Raw(tag.Key.Tag) <span class="badge">@tag.Value</span></a>
                    </span>
                </li>
            }
        </ul>
    </div>
}