.c-search-header {
    background-color: $t-site-search-header-background-one;

    &_label {
        @include font-family-poppins-bold;
        @include very-large-text;
        display: block;
        margin: 0 0 derived-dimension(1.5);
    }

    &_input-wrapper {
        position: relative;
        padding: 0 derived-dimension(9) 0 0;

        @include respond-to(tablet) {
            padding: 0 derived-dimension(10) 0 0;
        }
    }

    &_input {
        @extend %input-base;
        width: 100%;
        min-height: $spacer-rg;
        padding: $spacer-xsm;
        font-size: $large-text;

        @include respond-to(tablet) {
            padding: $base-dimension-unit $spacer-xsm;
            min-height: derived-dimension(8);
            font-size: $very-large-text;
        }
    }

    &_button {
        @extend %button-primary-callout;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: derived-dimension(7);
        height: 100%;
        padding: derived-dimension(1.5);

        @include respond-to(tablet) {
            width: derived-dimension(8);
            height: derived-dimension(8);
            padding: $spacer-xsm;
        }

        svg {
            margin: 0;
        }
    }

    &_button-icon {
        height: 100%;
        width: 100%;
    }
}

.c-search-results {
    background-color: $t-site-search-results-background-one;

    &_sub-title {
        @include small-heading;
    }

    &_list {
        margin: 0 0 derived-dimension(5);
        padding: $spacer-xsm 0;
        list-style-type: none;
        border-top: 1px solid $t-section-divider-one;
        border-bottom: 1px solid $t-section-divider-one;
    }

    &_list-item {
        margin: 0 0 $spacer-xsm;
    }

    &_link {
        @extend %standard-link;
        @include small-heading;
        display: block;
        margin: 0 0 $base-dimension-unit;
    }

    &_link-description {
        @include very-large-text;
    }

    &_button-wrapper {
        margin: 0 $spacer-xsm $spacer-xsm 0;
    }
}