<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FileUpload_FileLimitBytes" value="250000000"/><!--250000000 is 250mb-->
    <add key="FileUpload_ValidFileTypes" value=".doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf"/>
    <add key="FileUpload_MaxFilenameLength" value="100"/>
  </appSettings>
</configuration>