.c-button {
    @extend %nhsuk-button;

    &--outline {
        @extend %toggle-button;
    }

    &--secondary {
        @extend %nhsuk-button-secondary;
    }

    &--reverse {
        @extend %nhsuk-button-reverse;
    }

    &--full-width {
        width: 100%;
    }

    &--min-width {
        width: 100%;

        @include respond-to(tablet) {
            width: auto;
            min-width: 274px;
        }
    }
}

.c-button-outline {
    @extend %toggle-button;
}