.c-like {

    @extend %clear-button-styles;
    @extend %link-base;
    @include small-text;
    display: flex;
    align-items: center;
    cursor: inherit;
    text-decoration: underline;

    &:focus {
        border: none;
        //padding: $nhsuk-spacing-point-1;
    }

}